.centered {
  text-align: center;
}

TEXTAREA {
  width: 30em;
  height: 5em;
}

A.button {
  text-decoration: none;
  padding: 0.5em 3em;
  margin: 0 3em;
  color: white;
  background-color: #50C0E0;
  border: 1px solid #40B0D0;
  border-radius: 0.5em;
}

A.button:hover {
  background-color: #60D0F0;
  border: 1px solid #50C0E0;
}

.warning {
  color: red;
}
