<?xml version='1.0' encoding='utf-8'?>
<widget id="org.uproxy" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>uProxy</name>
    <description>
        Get and share access to the open internet
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="SplashScreenDelay" value="0" />
    <platform name="android">
        <icon density="ldpi" src="resources/icons/launcher-ldpi.png" />
        <icon density="mdpi" src="resources/icons/launcher-mdpi.png" />
        <icon density="hdpi" src="resources/icons/launcher-hdpi.png" />
        <icon density="xhdpi" src="resources/icons/launcher-xhdpi.png" />
        <config-file parent="./application/activity/[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="uproxy.org" />
                <data android:host="www.uproxy.org" />
                <data android:pathPrefix="/invite" />
                <data android:pathPrefix="/request/" />
                <data android:pathPrefix="/offer/" />
            </intent-filter>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-custom-config" spec="~3.1.2" />
    <plugin name="com.borismus.webintent" spec="https://github.com/Initsogar/cordova-webintent.git" />
    <plugin name="cordova-plugin-tun2socks" spec="https://github.com/uProxy/cordova-plugin-tun2socks.git" />
    <plugin name="cordova-plugin-ssh" spec="https://github.com/bemasc/cordova-plugin-ssh.git" />
    <engine name="android" spec="~5.2.2" />
</widget>
