*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.tar.gz
*.un~
*.vpj
*.vpw*
*.vtg
*.xcf
*.orig
*~
.DS_Store
.grunt
.sass-cache
.tscache
.vscode
build
node_modules
npm-debug.log
keys
third_party/bower
bower_components
