# uproxy-common not currently used by chrome extension
#[submodule "chrome/extension/src/submodules/uproxy-common"]
#	path = chrome/extension/src/submodules/uproxy-common
#	url = https://github.com/UWNetworksLab/uproxy-common.git
[submodule "chrome/app/submodules/uproxy-common"]
	path = chrome/app/submodules/uproxy-common
	url = https://github.com/UWNetworksLab/uproxy-common.git
[submodule "firefox/data/submodules/uproxy-common"]
	path = firefox/data/submodules/uproxy-common
	url = https://github.com/UWNetworksLab/uproxy-common.git
[submodule "firefox/data/submodules/oauth2"]
	path = firefox/data/submodules/oauth2
	url = https://github.com/borismus/oauth2-extensions
[submodule "firefox/packages/pathfinder"]
	path = firefox/packages/pathfinder
	url = https://github.com/erikvold/addon-pathfinder.git
	branch = master
