language: node_js
node_js:
  - "4.4"
before_install:
  - npm install -g grunt-cli bower
install:
  - ./setup.sh install
script:
  - grunt build tslint unit_test_nobuild
sudo: false
cache:
  directories:
    - node_modules
before_script:
  - npm prune
