[project]
	description = Internet without borders
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vinicius Fortuna (fortuna)
[access "refs/for/refs/*"]
	read = group user/Vinicius Fortuna (fortuna)
	push = group user/Vinicius Fortuna (fortuna)
	label-Code-Review = -2..+2 group user/Vinicius Fortuna (fortuna)
	label-Verified = -1..+1 group user/Vinicius Fortuna (fortuna)
	rebase = group user/Vinicius Fortuna (fortuna)
	removeReviewer = group user/Vinicius Fortuna (fortuna)
	submit = group user/Vinicius Fortuna (fortuna)
[access "refs/heads/*"]
	read = group user/Vinicius Fortuna (fortuna)
	create = group user/Vinicius Fortuna (fortuna)
	push = +force group user/Vinicius Fortuna (fortuna)
	pushMerge = group user/Vinicius Fortuna (fortuna)
[access "refs/tags/*"]
	push = group user/Vinicius Fortuna (fortuna)
	push = +force group user/Vinicius Fortuna (fortuna)
