<!doctype html>
<html ng-app="UProxyExtension-options" ng-csp>
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/options.js -->
    <!-- <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script> -->
    <script src="bower_components/json-patch/jsonpatch.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/options.js"></script>
    <script src="../../scripts/dependencies.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak ng-controller="OptionsCtrl" id="options">
    <h3>{{'options'|i18n}}</h3>
    <div id="options-left">
      <label>
        Networks:
      </label>
      <button class="btn" ng-show="!isOnline('loopback')"
            ng-click="login('loopback')">Loop</button>
      <button class="btn" ng-show="isOnline('loopback')"
            ng-click="logout('loopback')">Loop</button>

      <button class="btn" ng-show="!isOnline('google')"
            ng-click="login('google')">Login G+</button>
      <button class="btn" ng-show="isOnline('google')"
            ng-click="logout('google')">Logout G+</button>

      <button class="btn" ng-show="!isOnline('facebook')"
            ng-click="login('facebook')">Login FB</button>
      <button class="btn" ng-show="isOnline('facebook')"
            ng-click="logout('facebook')">Logout FB</button>

    <h4>Instances</h4>
    <div id="contacts-frame">
      <ul class="contacts">
        <li ng-repeat='instance in model.instances'>
          <h4>{{ instance.rosterInfo.name }}</h4>
          <p>{{ model.instanceToClient[instance.instanceId] }}
          <br>{{ instance.description }}
          <br>{{ instance.instanceId }}
          </p>
          <div class="trust">
            Proxy: {{ instance.trust.asProxy }}
            <div class="box-for-proxy"
                ng-switch="instance.trust.asProxy">
              <button class="btn" ng-switch-when="yes"
                  ng-click="startAccess(instance)">
                Start
              </button>
              <div ng-switch-when="requested">
                <button class="btn" ng-click="cancelRequest(instance)">
                  Cancel
                </button>
                <span>Pending...</span>
              </div>
              <div ng-switch-when="offered">
                <button class="btn" ng-click="acceptOffer(instance)">
                  Accept Access
                </button>
                <button class="btn" ng-click="declineOffer(instance)">
                  No Thanks
                </button>
              </div>
              <button class="btn" ng-switch-default
                  ng-click="requestAccess(instance)">
                Request
              </button>
            </div>

            <br>
            Client: {{ instance.trust.asClient }}
            <div class="box-for-client"
                ng-switch="instance.trust.asClient">
              <button class="btn" ng-switch-when="no"
                  ng-click="offerAccess(instance)">
                Offer Access
              </button>
              <div ng-switch-when="requested">
                <button class="btn" ng-click="grantAccess(instance)">
                  Grant
                </button>
                <button class="btn" ng-click="denyAccess(instance)">
                  Ignore
                </button>
              </div>
              <button class="btn" ng-switch-default
                  ng-click="revokeAccess(instance)">
                Revoke Access
              </button>
            </div>

          </div>
        </li>
      </ul>
    </div>
    </div>

    <details open class="advanced">
      <summary>{{'advanced'|i18n}}</summary>

      <ul class="options">
        <li>
          <label class="checkbox inline">
            <input type="checkbox" ng-model="allowNonRoutableAddresses"
              ng-click="changeOption('allowNonRoutableAddresses', allowNonRoutableAddresses)">
              <!-- XXX DRY: use a directive to automatically bind ng-click to the proper
                            changeOption call based on the ng-model binding -->
            {{'allowNonroutableAddresses'|i18n}}
          </label>
        </li>
        <li>
          <label>
            Turn servers:
            <input type="text" ng-model="model.options.turnServers">
          </label>
        </li>
        <li>
          <label>
            Stun servers:
            <input type="text" ng-model="model.options.stunServers">
          </label>
        </li>
      </ul>

    </details>

    <div>
      <!-- TODO: make a proper controller for state reseting -->
      <button class="btn btn-warning btn-mini" ng-disabled="resetClicked"
        ng-click="resetClicked=true">
        ⚠ Reset UProxy
      </button>

      <div ng-show="resetClicked" style="margin: 10px">
        You will be signed out and all saved state will be lost.

        <div>
          <button class="btn btn-mini" ng-click="resetClicked=false">
            Cancel
          </button>
          <button class="btn btn-mini btn-danger"
            ng-click="resetState() || (resetClicked=false)">
            Confirm
          </button>
        </div>
      </div>
    </div>
    </div>

    <details id="debug" open ng-show="model._debug">
      <summary>Debug</summary>
      <pre class="well">state: {{model|json}}</pre>
    </details>

  </body>
</html>
