<!doctype html>
<html ng-app="UProxyExtension-options" ng-csp>
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/options.js -->
    <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/options.js"></script>
    <script src="../../scripts/dependencies.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak ng-controller="OptionsCtrl" id="options">

    <h3>{{'options'|i18n}}</h3>
    <hr>

    <ul class="options">
      <li>
        <h4>Profile</h4>
        <label>
          Client Name:
          <input type="text" placeholder="Client Name" required ng-model="model.profile.clientName">
        </label>
        <label>
          Public Key:
          <input type="text" placeholder="Public Key" readonly ng-model="model.profile.publicKey">
          <button class="btn btn-mini">regenerate</button>
        </label>
        <label>
          Networks:
        </label>
            <button class="btn btn-mini" ng-show="!isOnline('loopback')"
                  ng-click="login('loopback')">Loop</button>
            <button class="btn btn-mini active" ng-show="isOnline('loopback')"
                  ng-click="logout('loopback')">Loop</button>
            <button class="btn btn-danger btn-mini" ng-show="!isOnline('google')"
                  ng-click="login('google')">G+</button>
            <button class="btn btn-danger btn-mini active" ng-show="isOnline('google')"
                  ng-click="logout('google')">G+</button>
            <button class="btn btn-primary btn-mini" ng-show="!isOnline('facebook')"
                  ng-click="login('facebook')">FB</button>
            <button class="btn btn-primary btn-mini active" ng-show="isOnline('facebook')"
                  ng-click="logout('facebook')">FB</button>
      </li>
      <li>
        <h4>Contacts</h4>
        <ul style="max-height: 400px; overflow-y: scroll; border: thin solid gray">
          <li ng-repeat="contact in model.contacts">
            <ul>
              <li ng-repeat="client in contact.clients">
                <h5>{{client.clientName}}</h5>
                <div style="margin-left: 15px">
                  <label class="checkbox inline">
                    <input type="checkbox" ng-model="client.hasClientPermission">
                    Grant access to
                  </label>
                  <label class="checkbox inline">
                    <input type="checkbox" ng-model="client.desiredAsServer">
                    Seek access from
                  </label>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <details open class="advanced">
          <summary>{{'advanced'|i18n}}</summary>

          <ul class="options">
            <li>
              <label class="checkbox inline">
                <input type="checkbox" ng-model="allowNonRoutableAddresses"
                  ng-click="changeOption('allowNonRoutableAddresses', allowNonRoutableAddresses)">
                  <!-- XXX DRY: use a directive to automatically bind ng-click to the proper
                                changeOption call based on the ng-model binding -->
                {{'allowNonroutableAddresses'|i18n}}
              </label>
            </li>
            <li>
              <label>
                Turn servers:
                <input type="text" ng-model="model.options.turnServers">
              </label>
            </li>
            <li>
              <label>
                Stun servers:
                <input type="text" ng-model="model.options.stunServers">
              </label>
            </li>
          </ul>

        </details>
      </li>
    </ul>

    <hr>

    <div>
      <!-- TODO: make a proper controller for state reseting -->
      <button class="btn btn-warning btn-mini" ng-disabled="resetClicked"
        ng-click="resetClicked=true">
        ⚠ Reset UProxy
      </button>

      <div ng-show="resetClicked" style="margin: 10px">
        You will be signed out and all saved state will be lost.

        <div>
          <button class="btn btn-mini" ng-click="resetClicked=false">
            Cancel
          </button>
          <button class="btn btn-mini btn-danger"
            ng-click="resetState() || (resetClicked=false)">
            Confirm
          </button>
        </div>
      </div>
    </div>

    <hr>

    <details id="debug" open ng-show="model._debug">
      <summary>Debug</summary>
      <pre class="well">state: {{model|json}}</pre>
    </details>

  </body>
</html>
