<!doctype html>
<html ng-app="UProxyExtension-options" ng-csp>
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/options.js -->
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-lodash/angular-lodash.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/options.js"></script>
    <script src="../../scripts/dependencies.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak ng-controller="OptionsCtrl" id="options">
    <h3>{{'options'|i18n}}</h3>

    <div class="app-missing-warning" ng-hide="ui.isConnected">
      You need to install the UProxy app as well as the UProxy extension.
    </div>

    <div id="options-left">
      <label>
        Networks:
      </label>
        <span ng-repeat="network in ui.networks">
          <button class="btn" ng-show="!isOnline(network)"
            ng-click="login(network)">Login to {{ prettyNetworkName(network) }}</button>
          <button class="btn" ng-show="isOnline(network)"
            ng-click="logout(network)">Logout from {{ prettyNetworkName(network) }}</button>
        </span>
    <h4>Instances</h4>
    <div id="contacts-frame">
      <ul class="contacts">
        <li ng-repeat='instance in model.instances'>
          <h4>{{ instance.rosterInfo.name }}</h4>
          <p>
            {{ model.instanceToClient[instance.instanceId] }}
          <br>{{ instance.description }}
          <br>{{ instance.instanceId }}
          <br>Notification: {{ instance.notify }}
          </p>
          <div class="trust">
            Proxy: {{ instance.trust.asProxy }}
            <div class="box-for-proxy"
                ng-switch="instance.trust.asProxy">

              <div ng-switch-when="yes">
                <button class="btn"
                    ng-show="'off'==instance.status.proxy"
                    ng-click="startAccess(instance)">
                  Start
                </button>
                <div class="btn"
                    ng-show="'ready'==instance.status.proxy">
                  Setting up proxy...
                </div>
                <button class="btn"
                    ng-hide="'off'==instance.status.proxy"
                    ng-click="stopAccess(instance)">
                  Stop
                </button>
              </div>
              <div ng-switch-when="requested">
                <button class="btn" ng-click="cancelRequest(instance)">
                  Cancel
                </button>
                <span>Pending...</span>
              </div>
              <div ng-switch-when="offered">
                <button class="btn" ng-click="acceptOffer(instance)">
                  Accept Access
                </button>
                <button class="btn" ng-click="declineOffer(instance)">
                  No Thanks
                </button>
              </div>
              <button class="btn" ng-switch-default
                  ng-click="requestAccess(instance)">
                Request
              </button>
            </div>

            <br>
            Client: {{ instance.trust.asClient }}
            <div class="box-for-client"
                ng-switch="instance.trust.asClient">
              <button class="btn" ng-switch-when="no"
                  ng-click="offerAccess(instance)">
                Offer Access
              </button>
              <div ng-switch-when="requested">
                <button class="btn" ng-click="grantAccess(instance)">
                  Grant
                </button>
                <button class="btn" ng-click="denyAccess(instance)">
                  Ignore
                </button>
              </div>
              <button class="btn" ng-switch-default
                  ng-click="revokeAccess(instance)">
                Revoke Access
              </button>
            </div>

          </div>

          <div class="status">
          </div>
        </li>
      </ul>
    </div>
    </div>

    <details open class="advanced">
      <summary>{{'advanced'|i18n}}</summary>

      <ul class="options">
        <li>
          <label class="checkbox inline">
            <input type="checkbox" ng-model="allowNonRoutableAddresses"
              ng-click="changeOption('allowNonRoutableAddresses', allowNonRoutableAddresses)">
              <!-- XXX DRY: use a directive to automatically bind ng-click to the proper
                            changeOption call based on the ng-model binding -->
            {{'allowNonroutableAddresses'|i18n}}
          </label>
        </li>
        <li>
          <label>
            Turn servers:
            <input type="text" ng-model="model.options.turnServers">
          </label>
        </li>
        <li>
          <label>
            Stun servers:
            <input type="text" ng-model="model.options.stunServers">
          </label>
        </li>
      </ul>

    </details>

    <div id="reset-box">
      <!-- TODO: make a proper controller for state reseting -->
      <button class="btn btn-warning btn-mini" ng-disabled="resetClicked"
        ng-click="resetClicked=true">
        ⚠ Reset UProxy
      </button>

      <div ng-show="resetClicked" style="margin: 10px">
        You will be signed out and all saved state will be lost.

        <div>
          <button class="btn btn-mini" ng-click="resetClicked=false">
            Cancel
          </button>
          <button class="btn btn-mini btn-danger"
            ng-click="resetState() || (resetClicked=false)">
            Confirm
          </button>
        </div>
      </div>
    </div>
    </div>

    <details id="debug" open ng-show="model._debug"
        ng-click="bigdebug=!bigdebug" ng-class="{big:bigdebug}">
      <summary>Debug</summary>
      <pre class="well">state: {{model|json}}</pre>
    </details>
  </body>
</html>
