<!doctype html>
<html ng-app="UProxyExtension-popup" ng-csp id="popup">
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/popup.js -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>
    <!--script src="bower_components/oauth2-extensions/lib/oauth2.js"></script-->

    <script src="scripts/app.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="../../scripts/dependencies.js"></script>
    <!-- endbuild -->

  </head>
  <!-- TODO: i18n -->
  <body><div ng-cloak ng-controller="MainCtrl">
    <section>
      <section id="login-splash" ng-show="splashPage">
        <div class='uproxy-banner'>
        <img src='icons/uproxy-128.png'>proxy
        </div>
        <span class="description">Safe Passage for the Web.</span>

        <input type="text" ng-model="model.me.description"
            id="my-description"
            placeholder="Device description"
            ng-blur="updateDescription();descriptionHelp=false"
            ng-focus="descriptionHelp=true">
        </input>
        <p class="tip" ng-show="descriptionHelp">
          Please describe your device.
          This description will be visible to your friends.
        </p>

        <div id="networks-box">
        <h3>Networks</h3>

        <div class="network-btn">
        <button class="btn" ng-show="!isOnline('google')"
              ng-click="login('google');splashPage = false">G+</button>
        <button class="btn" ng-show="isOnline('google')"
              ng-click="logout('google')">Logout G+</button>
        </div>

        <div class="network-btn">
        <button class="btn" ng-show="!isOnline('facebook')"
              ng-click="login('facebook')">FB</button>
        <button class="btn" ng-show="isOnline('facebook')"
              ng-click="logout('facebook')">Logout FB</button>
        </div>
        </div>
      </section>

      <div ng-hide="splashPage" tabindex="-1">
        <section id="header">
          <section id="search-section" ng-hide="rosterNudge">
            <input type="text" id="search-contacts" placeholder="search contacts"
                ng-model="search"
                ng-blur="searchFocused=false"
                ng-focus="searchFocused=true">
            </input>

            <button type="search" id="search-btn"></button>

            <section id="filters">
              <button id="alpha-filter" class="filter"
                      ng-mouseenter="showFilter('alpha')"
                      ng-mouseleave="showFilterTip=false"
                      ng-class="{on:filters.alpha}"
                      ng-click="toggleFilter('alpha')">A</button>
              <button id="my-access" class="filter"
                      ng-mouseenter="showFilter('myAccess')"
                      ng-mouseleave="showFilterTip=false"
                      ng-class="{on:filters.myAccess}"
                      ng-click="toggleFilter('myAccess')"></button>
              <button id="friends-access" class="filter"
                      ng-mouseenter="showFilter('friendsAccess')"
                      ng-mouseleave="showFilterTip=false"
                      ng-class="{on:filters.friendsAccess}"
                      ng-click="toggleFilter('friendsAccess')"></button>
              <button id="uproxy-filter" class="filter"
                      ng-mouseenter="showFilter('uproxy')"
                      ng-mouseenter="filterTip=filterTips.uproxy"
                      ng-mouseleave="showFilterTip=false"
                      ng-class="{on:filters.uproxy}"
                      ng-click="toggleFilter('uproxy')"></button>
              <button id="online-filter" class="filter"
                      ng-mouseenter="showFilter('online')"
                      ng-mouseleave="showFilterTip=false"
                      ng-class="{on:filters.online}"
                      ng-click="toggleFilter('online')"></button>
              <br>
            </section>
            <div class="tool" id="filterTooltip" ng-show="showFilterTip">
              <div class="tip">
                {{filterTip}}
              </div>
            </div>
          </section>
          <section id="contact-header" ng-show="rosterNudge">
            <button class="btn-back" ng-click="rosterNudge=false"></button>
            <h1>{{currentContact.name}}</h1>
          </section>
        </section>

        <section id="roster">
          <div id="roster-text">
            <span ng-show="loggedOut()">
              You aren't logged in to any network.
            </span>
            <span ng-hide="loggedOut()">
              {{ model.roster.length }}
              <span ng-show=" isEmpty(model.roster)">
                Loading Roster...
              </span>
            </span>
          </div>

          <section id="contacts-frame" ng-hide="rosterNudge">
          <ul class="contacts">
            <li ng-repeat="contact in model.roster"
                ng-click="viewContact(contact)"
                ng-hide="contactIsFiltered(contact)"
                ng-class="{offline:!contact.online}"
                tabindex="{{ $index + 10 }}">
              {{contact.name}}
              <img class="contact-image" ng-src='{{contact.imageData}}'>
              <span class="c-icons">
                <span class="c-icon" ng-show='contact.onGoogle'> G+ </span>
                <span class="c-icon" ng-show='contact.onFB'> FB </span>
                <span ng-show="contact.canUProxy">
                  <img class="c-icon" ng-show='contact.canUProxy' src='icons/uproxy-19.png'>
                </span>
              </span>
              <span class="c-notification" ng-show='contact.hasNotification'> ! </span>
            </li>
          </ul>
          </section>

          <div id="contact-details" ng-show="rosterNudge">
            <div class="contact-status">
              <div class="contact-name">
                <img class="contact-image" ng-src='{{contact.imageData}}'>
              </div>
              <br>Network: {{ currentContact.network }}
              <p>
              {{ currentContact.name }} does
              <span ng-hide="currentInstance">not</span>
              have UProxy installed.
              </p>

              <div ng-show="currentInstance">
                <div class="instance-actions">
                  <p>
                    {{currentInstance.description}}
                  </p>
                  <div class="instance-id" ng-show="rosterNudge">
                    {{currentInstance.instanceId}}
                  </div>
                  <div class="box-for-proxy"
                      ng-switch="currentInstance.trust.asProxy">
                    <div ng-switch-when="yes">
                      <button class="btn"
                          ng-show="'off'==currentInstance.status.proxy"
                          ng-click="startAccess(currentInstance)">
                        Start
                      </button>
                      <div class="btn"
                          ng-show="'ready'==currentInstance.status.proxy">
                        Setting up proxy...
                      </div>
                      <button class="btn"
                          ng-hide="'off'==currentInstance.status.proxy"
                          ng-click="stopAccess(currentInstance)">
                        Stop
                      </button>
                    </div>
                    <div ng-switch-when="requested">
                      <button class="btn" ng-click="cancelRequest(currentInstance)">
                        Cancel
                      </button>
                      <span>Pending...</span>
                    </div>
                    <div ng-switch-when="offered">
                      <button class="btn" ng-click="acceptOffer(currentInstance)">
                        Accept Access
                      </button>
                      <button class="btn" ng-click="declineOffer(currentInstance)">
                        No Thanks
                      </button>
                    </div>
                    <button class="btn"
                        ng-switch-default
                        ng-click="requestAccess(currentInstance)">
                      Request
                    </button>
                  </div>

                  <div class="box-for-client"
                      ng-switch="currentInstance.trust.asClient">
                    <button class="btn" ng-switch-when="no"
                        ng-click="offerAccess(currentInstance)">
                      Offer Access
                    </button>
                    <div ng-switch-when="requested">
                      <button class="btn" ng-click="grantAccess(currentInstance)">
                        Grant
                      </button>
                      <button class="btn" ng-click="denyAccess(currentInstance)">
                        Ignore
                      </button>
                    </div>
                    <button class="btn" ng-switch-default
                        ng-click="revokeAccess(currentInstance)">
                      Revoke Access
                    </button>
                  </div>
                </div>
              </div>
              <a class="chat-btn" href="{{ currentContact.url }}"
                 target="_blank"
                 ng-mouseenter="chatButtonHovered=true"
                 ng-mouseleave="chatButtonHovered=false">
              </a>
              <div class="tool">
              <p class="tip" ng-show="chatButtonHovered" >
                Ask {{ currentContact.name }} to
                <span ng-hide="currentInstance">install</span>
                <span ng-show="currentInstance">run</span>
                UProxy.
              </p>
              </div>
            </div>

            <!--
            <h5>Clients</h5>
            <div class="client-details" ng-repeat="client in currentContact.clients">
              {{ client.clientId }}
              <br>Network: {{ client.network }}
              <br>Status: {{ client.status }}
            </div>
            -->

          </div>
        </section>
      </div>

      <section id="status">

        <div ng-show="model.me.peerAsProxy">
          Proxying via {{currentInstance.rosterInfo.name}}.
          <br>{{model.me.peerAsProxy}}
          </br>
          <button class="btn"
              ng-hide="'off'==currentInstance.status.proxy"
              ng-click="stopAccess(currentInstance)">
            Stop
          </button>
        </div>

        <span ng-show="loggedIn()">
          <span ng-show="model.identityStatus.google.status=='online'"> G+ </span>
        </span>

        <span ng-show="model.identityStatus.google.status == 'connecting'"> Connecting to G+ </span>
        <span ng-show="loggedOut()">Not Connected</span>
        <button id="options-btn" ng-click="toggleOptions()" title="{{'options'|i18n}}"></button>
      </section>

    </section>
  </div></body>
</html>
