<!doctype html>
<html ng-app="UProxyExtension-popup" ng-csp id="popup">
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/popup.js -->
    <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>
    <!--script src="bower_components/oauth2-extensions/lib/oauth2.js"></script-->

    <script src="scripts/app.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="../../scripts/dependencies.js"></script>
    <!-- endbuild -->

  </head>
  <!-- TODO: i18n -->
  <body><div ng-cloak ng-controller="MainCtrl">
    <section id="header">
      <h3 class="title">UProxy</h3>
      <a class="btn" id="options-btn" href="options.html" target="_blank" title="{{'options'|i18n}}">⚙</a>
    </section>

    <section ng-hide="connectedToApp">
      Not connected to
      <a href="https://github.com/UWNetworksLab/UProxy/tree/master/chrome/app" target="_blank">
      UProxy app</a>. Please ensure it is
      <!-- TODO: Make this sentence browser independent. -->
      <a href="https://github.com/UWNetworksLab/UProxy/#testing-in-chrome" target="_blank">
      installed</a> and running by checking your <code>chrome://extensions</code> page.
    </section>

    <section ng-show="connectedToApp">

      <section id="search-section">
        <input type="text" id="search-contacts" placeholder="search contacts"
                ng-model="search">
        </input>
        <button type="search" id="search-btn" ng-click="meow = meow + 1"></button>
        {{meow}}
      </section>

      <section id="roster" ng-init="roster=model.roster">
        <section id="contacts-frame" ng-hide="rosterNudge">
        <ul class="contacts">
          <li ng-repeat="contact in roster | filter:search"
              ng-click="toggleContact(contact)">
            {{contact.name}}
            <!--
            <span class="contact-hover" ng-show="contact.hovered">
              ({{contact.userId}})
            </span>
            -->
          </li>
        </ul>
        </section>
        <div id="contact-details" ng-show="rosterNudge">
          <button class="btn" ng-click="rosterNudge=false">Back</button>
          <h3>{{currentContact.name}}</h3>
          <div class="client-details" ng-repeat="client in currentContact.clients">
            {{ client.clientId }}
          </div>
          <!--
          <div class="contact-details" ng-show="contact.detailsVisible">
            <div>
              <button class="btn">Stop</button>
              <button class="btn">Start</button>
            </div>
            <div>
              <button class="btn">Allow</button>
              <button class="btn">Ignore</button>
            </div>
            <div>
              <button class="btn">Request</button>
            </div>
            <div>
              <button class="btn" ng-click="freedomEmit('invite-friend', contact.userId)">Ask to run UProxy</button>
            </div>
          </div>
          -->
        </div>
      </section>

      <section id="filters">
      <button id="my-access" class="filter">My Access</button>
      <button id="friends-access" class="filter">Friends' Access</button>
      </section>

      <!--
      <section ng-show="model.identityStatus.status == 'offline'">
        <button class="btn btn-danger" ng-click="authGoog()">g+ sign in</button>
      </section>
      <section ng-show="model.identityStatus.status == 'connecting'">
        Connecting to Google Talk...
      </section>
      <section ng-show="model.identityStatus.status == 'online'">
      -->
      <section class="pagination-right muted">
        {{model.me.userId}}
      </section>

      <!--
      <h4>Status</h4>
      <section class="current-sessions">
        <section class="current-sessions-get">
          <section ng-show="isEmpty(model.currentSessionsToInitiate)">
            <h5>Not currently getting access through anyone.</h5>
          </section>
          <section ng-hide="isEmpty(model.currentSessionsToInitiate)">
            <h5>Currently getting access through:</h5>
            <ul>
              <li ng-show="">
                No one
              </li>
              <li ng-repeat="(id, contact) in model.currentSessionsToInitiate">
                {{contact.name}} ({{contact.userId}})
                <button class="btn btn-mini">Stop</button>
              </li>
            </ul>
          </section>
        </section>
        <section class="current-sessions-give">
          <section ng-show="isEmpty(model.currentSessionsToRelay)">
            <h5>Not currently giving access to anyone.</h5>
          </section>
          <section ng-hide="isEmpty(model.currentSessionsToRelay)">
            <h5>Currently giving access to:</h5>
            <ul>
              <li ng-show="">
                No one
              </li>
              <li ng-repeat="(id, contact) in model.currentSessionsToRelay">
                {{contact.name}} ({{contact.userId}})
                <button class="btn btn-mini">Stop</button>
              </li>
            </ul>
          </section>
        </section>
      </section>

        <section class="start-getting-through" ng-show="isEmpty(canGetFrom)">
          <h5>No one online you can get access through.</h5>
        </section>

        <section class="start-getting-through" ng-hide="isEmpty(canGetFrom)">
          <h5>Start getting access through:</h5>
          <ul>
            <li ng-repeat="(id, contact) in canGetFrom">
              {{contact.name}} ({{contact.userId}})
              <button class="btn btn-mini" ng-click="sendMessage(contact, 'start-proxying')">
                Start
              </button>
            </li>
          </ul>
        </section>

        <section class="request-access" ng-hide="isEmpty(cannotGetFrom)">
          <h5>Request permission to get access through:</h5>
          <ul class="contacts">
            <li ng-repeat="(id, contact) in cannotGetFrom">
              {{contact.name}}
              <span class="contact-detail">({{contact.userId}})</span>
              <button class="btn btn-request" ng-click="sendMessage(contact, 'request-access')">
                <span ng-show="model.pendingGetFrom[contact.userId]">Re-</span>Request
              </button>
            </li>
          </ul>
        </section>

        <section class="pending-give-to" ng-hide="isEmpty(model.pendingGiveTo)">
          <h5>Requested permission to get access through you:</h5>
          <ul>
            <li ng-repeat="(id, contact) in model.pendingGiveTo">
              {{contact.name}} ({{contact.userId}})
              <div class="btn-group">
                <button class="btn btn-mini" ng-click="sendMessage(contact, 'allow')">Allow</button>
                <button class="btn btn-mini" ng-click="freedomEmit('ignore', contact.userId)">Ignore</button>
              </div>
            </li>
          </ul>
        </section>

        <section class="online-no-uproxy" ng-show="isEmpty(contactsOnlineNotMessageable)">
          <h5>No other contacts currently online.</h5>
        </section>

        <section class="online-no-uproxy" ng-hide="isEmpty(contactsOnlineNotMessageable)">
          <h5>Online contacts not running UProxy:</h5>
          <ul>
            <li ng-repeat="contact in contactsOnlineNotMessageable">
              {{contact.name}} ({{contact.userId}})
              <button class="btn btn-mini" ng-click="freedomEmit('invite-friend', contact.userId)">Ask to run UProxy</button>
            </li>
          </ul>
        </section>
      </section>

      <hr>

      <details id="debug" open ng-controller="DebugCtrl" ng-show="model._debug">
        <summary>Debug</summary>

        <div class="well">
          <button class="btn btn-block btn-mini" ng-click="resetState()">Reset</button>

          <details open>
            <summary>message log</summary>

            <pre>{{model._msgLog | json}}</pre>
          </details>

          <details open>
            <summary>chat</summary>

            <form name="sendMsgForm" ng-submit="submitChat()">
              <select ng-model="userId" required>
                <option value="">Select contact</option>
                <option ng-repeat="(id, contact) in model.roster" value="{{id}}">
                  {{contact.name}} - {{id}} {{(contact|messageable) && '(messageable)' || ((contact|onlineNotMessageable) && '(online)' || '(offline)')}}
                </option>
              </select>

              <div ng-show="isEmpty(model.roster)">
                Loading Roster...
              </div>

              <div class="input-append">
                <input type="text" required ng-model="msg" placeholder="message">
                <input type="submit" value="send" class="btn" ng-disabled="sendMsgForm.$invalid">
              </div>
            </form>
          </details>

          <details open>
            <summary>state</summary>
            <pre>{{model | json}}</pre>
          </details>
        </div>
      </details>
      -->

    </section>
  </div></body>
</html>
