<!doctype html>
<html ng-app="UProxyChromeExtension" ng-csp>
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/options.js -->
    <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/oauth2-extensions/lib/oauth2.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/options.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-controller="OptionsCtrl" id="options">

    <h3>{{'options'|chromei18n}}</h3>
    <hr>

    <ul class="options">
      <li>
        <div class="btn-group">
          <button class="btn btn-mini btn-success" ng-click="changeOption('mode', 'give')"
            ng-disabled="inGiveMode" ng-class="{active: inGiveMode}">{{'giveAccess'|chromei18n}}</button>
          <button class="btn btn-mini btn-warning" ng-click="changeOption('mode', 'get')"
            ng-disabled="inGetMode" ng-class="{active: inGetMode}">{{'getAccess'|chromei18n}}</button>
        </div>
      </li>
      <li>
        <details open class="advanced">
        <summary>{{'advanced'|chromei18n}}</summary>

          <ul class="options">
            <li>
              <label class="checkbox inline">
                <input type="checkbox" ng-model="allowNonRoutableAddresses"
                  ng-click="changeOption('allowNonRoutableAddresses', allowNonRoutableAddresses)">
                  <!-- XXX DRY: use a directive to automatically bind ng-click to the proper
                                changeOption call based on the ng-model binding -->
                {{'allowNonroutableAddresses'|chromei18n}}
              </label>
            </li>
          </ul>
        </details>
      </li>
    </ul>

    <details id="debug" open ng-show="model._debug">
      <summary>Debug</summary>
      <pre class="well">state: {{model|json}}</pre>
    </details>

  </body>
</html>
