<!doctype html>
<html ng-app="UProxyChromeExtension" ng-csp>
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <!-- build:js scripts/popup.js -->
    <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/oauth2-extensions/lib/oauth2.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-controller="MainCtrl" id="popup">

    <section class="topnav">
      <a class="btn btn-small large-font" href="options.html" target="_blank" title="{{'options'|chromei18n}}">⚙</a>
    </section>

    <!-- TODO: i18n -->

    <section ng-show="!model.credentials.goog">
      <!-- TODO: replace with https://developers.google.com/+/features/sign-in -->
      <button class="btn btn-danger" ng-click="authGoog()">g+ sign in</button>

      <!-- allow connecting to additional chat services in future version -->
    </section>

    <section ng-show="model.identityStatus.status == 'connecting'">
      Connecting to Google Talk...
    </section>

    <section ng-show="model.identityStatus.status == 'online'">

      Connected to Google Talk

    </section>

    <hr>

    <details id="debug" open ng-controller="DebugCtrl" ng-show="model._debug">
      <summary>Debug</summary>

      <div class="well">
        <details open>
          <summary>message log</summary>

          <form name="sendMsgForm" ng-submit="sendMsg()">
            <div class="input-append">
              <input type="text" required ng-model="msg" placeholder="send test message">
              <input type="submit" value="+" class="btn" ng-disabled="sendMsgForm.$invalid">
            </div>
          </form>

          <pre>{{model._msgLog | json}}</pre>
        </details>

        <details open>
          <summary>Chat</summary>
            <select ng-model="chatbuddy" ng-options="card.name for (id, card) in model.roster">
            </select>
        </details>

        <details open>
          <summary>state</summary>
          <pre>{{model | json}}</pre>
        </details>
      </div>
    </details>
  </body>
</html>
