body /deep/ paper-button[disabled] {
  background: #4DB6AC;  /* teal 300 */
  color: white;
}

body /deep/ paper-button.grey {
  background: #DDDDDD;
  color: #707070;
}

/* all paper-progress places should be green */
body /deep/ paper-progress::shadow #activeProgress {
  background: #009688;
}

body /deep/ a {
  text-decoration: none;
  font-weight: 500;
  color: #009688;
}

html /deep/ [dir='rtl'] /deep/ core-icon[icon='arrow-back'] {
  transform: rotate(180deg);
}

body /deep/ paper-input-decorator /deep/ .underline div {
  background-color: #009688;
}

/* get around a bug in polymer styling */
body /deep/ paper-input-decorator input[is="core-input"] {
  padding: 0;
  margin: 0.5em 0 0.25em;
  width: 100%;
}
