<link rel="import" href="../../third_party/bower/polymer/polymer.html">
<link rel="import" href="../../third_party/bower/paper-button/paper-button.html">

<polymer-element name='uproxy-metrics-choice-view' constructor='MetricsChoiceView'>
  <template>
    <h1>{{msg && msg('METRICS_CHOICE_TITLE')}}</h1>
    <paper-button on-click='{{handleBack_}}'>{{msg && msg('BACK')}}</paper-button>
    <paper-button on-click='{{handleOptIn_}}'>{{msg && msg('METRICS_OPT_IN')}}</paper-button>
    <paper-button on-click='{{handleOptOut_}}'>{{msg && msg('METRICS_OPT_OUT')}}</paper-button>
  </template>
  <script src='metrics_choice_view.js'></script>
</polymer-element>