<link rel="import" href="/third_party/bower/core-menu/core-menu.html">
<link rel="import" href="/third_party/bower/paper-button/paper-button.html">
<link rel="import" href="/third_party/bower/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/third_party/bower/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel='import' href='/third_party/bower/paper-item/paper-item.html'>

<polymer-element name='uproxy-welcome-view' constructor='WelcomeView'>
  <template>
    <h1>Welcome</h1>
    <core-icon icon="language"></core-icon>
    <paper-dropdown-menu>
      <paper-dropdown class="dropdown">
        <core-menu id="menu" valueattr='value' selected='{{language}}' on-core-select="{{handleLanguageSelected_}}">
          <paper-item value="en">English</paper-item>
          <paper-item value="ar">Arabic</paper-item>
          <paper-item value="zh">Chinese</paper-item>
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
    <paper-button on-click='{{handleNext_}}'>Next</paper-button>
  </template>

  <script>
    Polymer({
      publish: {
        language: 'ar',
      },
      // Public methods
      onDone: function(handler) {
        this.addEventListener('done', handler);
      },
      onLanguageChosen: function(handler) {
        this.addEventListener('language-chosen', handler);
      },
      // Private methods
      handleLanguageSelected_: function(event, detail) {
        if (detail.isSelected) {
          this.emitLanguageChosen_(this.language);
        }
      },
      handleNext_: function(event) {
        this.emitLanguageChosen_(this.language);
        this.emitDone_();
      },
      emitLanguageChosen_: function(language) {
        console.log('Chosen language ', language);
        this.fire('language-chosen', this.language);
      },
      emitDone_: function() {
        this.fire('done');
      }
    });
  </script>
</polymer-element>