<link rel="import" href="/third_party/bower/core-menu/core-menu.html">
<link rel="import" href="/third_party/bower/paper-button/paper-button.html">
<link rel="import" href="/third_party/bower/paper-dropdown/paper-dropdown.html">
<link rel="import" href="/third_party/bower/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel='import' href='/third_party/bower/paper-item/paper-item.html'>

<polymer-element name='uproxy-welcome-view' constructor='WelcomeView'>
  <template>
    <!--<h1>{{'WELCOME' | msg(selectedLanguage)}}</h1>
    <h1>{{ msg('WELCOME', selectedLanguage )}}</h1>-->
    <h1>{{ msg && msg('WELCOME') }}</h1>
    <core-icon icon="language"></core-icon>
    <paper-dropdown-menu>
      <paper-dropdown class="dropdown">
        <core-menu id="menu" valueattr='value' selected='{{selectedLanguage}}'>
          <template repeat='{{ language in languageList }}'>
            <paper-item value='{{language.code}}'>{{msg && msg(language.name)}}</paper-item>
          </template>
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
    <paper-button on-click='{{handleNext_}}'>{{msg && msg('NEXT')}}</paper-button>
  </template>

  <script>
    Polymer({
      publish: {
        selectedLanguage: null,
        languageList: []
      },
      // Public methods
      onDone: function(handler) {
        this.addEventListener('done', handler);
      },
      onLanguageChosen: function(handler) {
        this.addEventListener('language-chosen', handler);
      },
      msg: null,
      // Private methods
      selectedLanguageChanged(oldValue, newValue) {
        this.fireLanguageChosen_(this.selectedLanguage);
      },
      handleNext_: function(event) {
        this.fireLanguageChosen_(this.selectedLanguage);
        this.fireDone_();
      },
      fireLanguageChosen_: function(language) {
        console.log('Chosen language ', language);
        this.fire('language-chosen', language);
      },
      fireDone_: function() {
        this.fire('done');
      }
    });
  </script>
</polymer-element>