<?xml version='1.0' encoding='utf-8'?>
<widget id="org.uproxy" version="0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <preference name="SplashScreen" value="splashscreen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="SplashMaintainAspectRatio" value="true" />

    <!-- This plugin allows us to select the architecture (ARM and/or x86)
         to build the Android APK. The default is only ARM. -->
    <plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />

    <preference name="AndroidLaunchMode" value="singleInstance" />
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="./application/activity/[@android:name='MainActivity']">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="uproxy.org" />
                <data android:host="www.uproxy.org" />
                <data android:pathPrefix="/invite" />
                <data android:pathPrefix="/request/" />
                <data android:pathPrefix="/offer/" />
            </intent-filter>
        </config-file>
    </platform>
</widget>
