@font-face {
  font-family: "Eurostile";
  src: url("eurostile.ttf") format("truetype"); }

body {
  font-family: Eurostile, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar:hover {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #f9f9f9; }

::-webkit-scrollbar-track:window-inactive {
  background-color: #888888; }

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  height: 114.589px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb; }

.btn {
  border: 1px solid #cccccc;
  color: #333333;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.btn:hover, .btn:focus {
  border-color: #999999;
  box-shadow: 0 1px 3px #aaaaaa;
  outline: none; }

.btn:active {
  box-shadow: 0 1px 3px #aaaaaa inset;
  color: #777777; }

.btn-request {
  position: absolute;
  right: 0; }

.btn-back {
  background: transparent url("../icons/back_arrow.png") no-repeat center;
  border: none;
  height: 24px;
  width: 30px; }

.btn-back:hover, .btn-back:focus {
  opacity: 0.5;
  outline: none;
  cursor: pointer; }

.title {
  padding: 0 8px; }

#contact-header h1 {
  position: fixed;
  width: 80%;
  padding: 0 10%;
  text-align: center;
  top: 10px;
  pointer-events: none;
  white-space: nowrap;
  font-size: 19.2px; }

#options-btn {
  position: fixed;
  z-index: 400;
  top: 4px;
  right: 8px;
  background: transparent url("../icons/settings.svg") no-repeat center center;
  border: none;
  outline: none;
  padding: 4px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #options-btn:active, #options-btn:focus {
    opacity: 0.9; }
  #options-btn:hover {
    opacity: 0.3; }

#options-btn-tip {
  position: fixed;
  top: 20px;
  right: 2px;
  background-color: black;
  color: #cccccc;
  opacity: 0.85; }
  #options-btn-tip.ng-hide {
    opacity: 0; }

.tip {
  display: inline-block;
  margin: 0;
  padding: 6px 8px;
  max-width: 270px;
  background-color: #fcfcfc;
  font-size: 14.4px;
  color: #444444;
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: default;
  opacity: 0.9;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.tip.ng-hide {
  display: block !important;
  pointer-events: none;
  opacity: 0; }

.tool {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center; }

#filterTooltip {
  position: fixed;
  z-index: 50;
  top: 30px;
  opacity: 0.85;
  font-size: 14.4px;
  pointer-events: none;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #filterTooltip.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0; }

#filterTooltip .tip {
  background-color: black;
  color: #cccccc; }

#not-connected {
  text-align: center;
  padding: 16px; }

#login-splash {
  position: fixed;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: 600px;
  bottom: 0;
  z-index: 40;
  background-color: white;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }
  #login-splash.ng-hide {
    display: block !important;
    pointer-events: none;
    top: 600px; }

.network-btn {
  display: inline-block;
  margin: 8px; }

.network-btn .btn {
  font-size: 24px; }

.uproxy-banner {
  font-size: 32px;
  font-weight: 600;
  margin-top: 23px;
  text-shadow: 2px 2px 2px #888888;
  cursor: default; }

.uproxy-banner img {
  vertical-align: middle;
  margin-bottom: 23px; }

.description {
  color: #222222;
  text-shadow: 1px 2px 2px #aaaaaa;
  cursor: default; }

#my-description {
  margin-top: 20px;
  padding: 8px;
  width: 80%;
  color: #333333;
  border: 1px solid #dddddd;
  outline: none;
  box-shadow: 0 3px 1px #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#my-description:hover {
  box-shadow: 0px 3px 3px #dddddd;
  border-color: #bbbbbb; }

#networks-box {
  margin-top: 30px; }

#search-section {
  position: relative;
  z-index: 50; }

#search-contacts {
  position: relative;
  z-index: 30;
  width: 328px;
  margin: 0;
  padding: 8px 20px;
  border: 1px solid #aaaaaa;
  outline: none;
  color: #333333;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #search-contacts:hover {
    box-shadow: 0 1px 2px #dddddd inset; }
  #search-contacts:focus {
    outline: none;
    box-shadow: 0 1px 2px #cccccc; }
  #search-contacts.ng-hide {
    display: block !important;
    pointer-events: none;
    height: 0;
    padding: 0;
    border: none; }

#actions {
  z-index: 20;
  display: block;
  width: 100%;
  background-color: #fafafa;
  height: 30px;
  text-align: left;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 1px 2px #aaaaaa; }

#search-btn {
  z-index: 40;
  width: 50px;
  height: 16px;
  padding: 8px;
  border: none;
  background: transparent url("../icons/search.png") no-repeat center;
  background-size: 16px;
  cursor: pointer; }
  #search-btn:hover, #search-btn:focus {
    opacity: 0.5;
    outline: none; }

.filter {
  margin: 0;
  padding: 8px;
  height: 16px;
  width: 40px;
  border: none;
  line-height: 0;
  background: transparent no-repeat center;
  background-size: 16px !important;
  font-size: 24px;
  font-weight: 900;
  color: #222222;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .filter:active, .filter:focus {
    outline: none;
    opacity: 0.3; }
  .filter:hover {
    opacity: 0.2; }
  .filter.on {
    opacity: 1; }
    .filter.on:active, .filter.on:focus {
      outline: none;
      opacity: 0.8; }
    .filter.on:hover {
      opacity: 0.75; }

#my-access {
  background-image: url("../icons/arrow-up.png"); }

#friends-access {
  background-image: url("../icons/arrow-down.png"); }

#uproxy-filter {
  background-image: url("../icons/uproxy-19.png"); }

#online-filter {
  background-image: url("../icons/online.png"); }

.icon-btn {
  z-index: 40;
  width: 42px;
  height: 24px;
  padding: 8px;
  margin-bottom: 5px;
  border: none;
  vertical-align: middle;
  background: transparent no-repeat center;
  background-size: 24px !important;
  cursor: pointer;
  outline: none;
  padding: 0; }
  .icon-btn:active, .icon-btn:focus {
    opacity: 0.8; }
  .icon-btn:hover {
    opacity: 0.7; }

#start-btn {
  background-image: url("../icons/uproxy-19.png"); }

#stop-btn {
  background-image: url("../icons/stop.png"); }

#main-view {
  z-index: 100;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }
  #main-view.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0; }

#roster {
  width: 100%;
  outline: none;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#roster-text {
  position: absolute;
  text-align: center;
  top: 100px;
  width: 80%;
  padding: 10%;
  z-index: 500;
  color: #444444;
  text-shadow: 0 2px 2px #cccccc;
  pointer-events: none; }

#contacts-frame {
  position: relative;
  min-height: 520px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#contacts-frame.ng-hide {
  display: block !important;
  pointer-events: none;
  left: -400px; }

.contacts {
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li {
  position: relative;
  z-index: 0;
  min-height: 16px;
  cursor: default;
  padding: 6px 37px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #222222;
  font-weight: 300;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .contacts li:hover, .contacts li:focus {
    background-color: white;
    border-color: #dddddd;
    color: black;
    z-index: 50;
    top: -2px;
    box-shadow: 0 2px 6px 1px #dddddd;
    outline: none; }
  .contacts li.offline {
    color: #888888; }

img.contact-image {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 100%;
  width: 25px;
  background: transparent url("../icons/contact-default.png") no-repeat center;
  background-size: cover; }

.c-icons {
  position: absolute;
  right: 12px;
  color: #222222;
  font-size: 12.8px;
  font-weight: 900; }

.c-icon {
  padding: 1px;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .c-icon:hover {
    color: #888888; }

.c-notification {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #880000;
  color: white;
  font-size: 9.6px;
  font-weight: 900;
  width: 12px;
  height: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0.7; }

img.c-icon {
  vertical-align: middle;
  margin-top: -4px; }

img.c-icon:hover {
  opacity: 0.5; }

#contact-details {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#contact-details.ng-hide {
  display: inline-block !important;
  opacity: 0;
  left: 400px; }

.contact-status {
  text-align: center;
  text-shadow: 0px 1px 1px #cccccc;
  padding: 8px; }

.contact-name {
  text-align: center; }

#contact-details img.contact-image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 8px;
  border-color: #dddddd;
  background-size: contain;
  box-shadow: 2px 3px 5px 1px #cccccc; }

.chat-btn {
  display: inline-block;
  background: transparent url("../icons/chat.png") no-repeat center center;
  background-size: contain;
  border: 1px none black;
  outline: none;
  padding: 4px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.chat-btn:active, .chat-btn:focus {
  opacity: 0.7; }

.chat-btn:hover {
  opacity: 0.3; }

.instance-actions {
  text-align: center; }

.instance-actions .btn {
  padding: 8px 16px;
  margin-top: 16px;
  text-shadow: 0 1px 1px #888888;
  border-radius: 3px; }

.client-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 8px;
  border: 1px solid #eeeeee;
  font-size: 12px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.client-details:hover {
  border-color: #dddddd;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd; }

.instance-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px;
  height: 53px;
  width: 82%;
  border: 1px solid #eeeeee;
  font-size: 8px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.instance-details:hover {
  border-color: #dddddd;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd; }

.instance-id {
  font-size: 9.6px;
  font-family: monospace; }

#status {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  font-size: 12.8px;
  color: #888888;
  padding: 8px 20px;
  cursor: default;
  border-top: 1px solid #eeeeee;
  background-color: white;
  text-align: center; }

#status-proxy {
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  text-align: left;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }

#status-proxy.ng-hide {
  display: block !important;
  pointer-events: none;
  opacity: 0;
  height: 0; }

#status-tooltips {
  position: absolute;
  left: 20px;
  bottom: 67px;
  text-align: left !important; }

#status-tooltips .tip {
  position: absolute; }

#status-network {
  display: none;
  position: absolute;
  right: 0; }

.contact-actions {
  display: none; }

#popup {
  width: 370.8204px;
  height: 600px; }
  #popup .footer {
    text-align: right; }

.large-font {
  font-size: 24px; }

details > summary {
  cursor: pointer; }
  details > summary:focus {
    outline: none; }
details > *:not(summary) {
  margin-left: 10px; }

#options {
  position: relative;
  height: 100%; }

#options-left {
  width: 50%; }

#debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  padding: 2%;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: black;
  color: #aaffff; }
  #debug pre {
    font-size: 9.6px;
    margin-bottom: 100px;
    width: 100%;
    white-space: pre-wrap; }
  #debug form[name=sendMsgForm] {
    margin-bottom: 3px; }

.dbg {
  position: fixed;
  z-index: 500; }

details.advanced {
  margin-top: 15px; }
