@font-face {
  font-family: "Eurostile";
  src: url("eurostile.ttf") format("truetype"); }

body {
  font-family: Eurostile, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar:hover {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #fafafa; }

::-webkit-scrollbar-track:window-inactive {
  background-color: black; }

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  height: 10%; }

::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc; }

.btn {
  border: 1px solid black;
  background: white; }

.btn-request {
  position: absolute;
  right: 0; }

.title {
  padding: 0 8px; }

#options-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  padding: 4px;
  text-decoration: none; }

#options-btn:hover {
  opacity: 0.8; }

#search-section {
  position: relative; }

#search-contacts {
  width: 100%;
  padding: 8px 20px;
  font-size: 15px;
  border: 1px solid #aaaaaa;
  outline: none;
  color: #333333; }

#search-contacts:focus {
  outline: none;
  box-shadow: 0 1px 1px #cccccc; }

#search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  padding: 4px;
  border: none;
  background: transparent url("../icons/search.png") no-repeat center;
  background-size: 80%; }

#search-btn:hover, #search-btn:focus {
  opacity: 0.5;
  outline: none; }

#filters {
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #aaaaaa; }

.filter {
  background-color: white;
  margin: 0;
  padding: 8px 20px;
  width: 50%; }

#my-access {
  position: absolute;
  left: 0; }

#friends-access {
  position: absolute;
  right: 0; }

.contacts {
  position: relative;
  height: 400px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li {
  background-color: #fdfdfd;
  position: relative;
  z-index: 0;
  cursor: default;
  padding: 6px 20px;
  white-space: nowrap;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li:hover {
  background-color: white;
  z-index: 50;
  top: -1px;
  box-shadow: 0 1px 2px #aaaaaa; }

.contact-details {
  height: 200px;
  opacity: 1;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contact-details.ng-hide {
  display: block !important;
  opacity: 0;
  height: 0;
  z-index: -500;
  pointer-events: none; }

.contact-actions {
  display: none; }

#popup {
  min-width: 357px;
  height: 600px; }
  #popup .footer {
    text-align: right; }

.large-font {
  font-size: 15px; }

details > summary {
  cursor: pointer; }
  details > summary:focus {
    outline: none; }
details > *:not(summary) {
  margin-left: 10px; }

#debug pre {
  font-size: 7px;
  max-height: 200px;
  overflow: scroll; }
#debug .btn-group {
  margin-bottom: 10px; }
#debug form[name=sendMsgForm] {
  margin-bottom: 3px; }

body#options {
  padding: 30px; }
  body#options #debug {
    margin-top: 50px; }

details.advanced {
  margin-top: 15px; }
