@font-face {
  font-family: "Eurostile";
  src: url("eurostile.ttf") format("truetype"); }

body {
  font-family: Eurostile, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar:hover {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #f9f9f9; }

::-webkit-scrollbar-track:window-inactive {
  background-color: #888888; }

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  height: 114.589px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb; }

.btn {
  border: 1px solid #aaaaaa;
  color: #333333;
  background: white;
  border-radius: 2px;
  cursor: pointer; }

.btn:hover, .btn:focus {
  border-color: #999999;
  box-shadow: 0 1px 3px #aaaaaa;
  outline: none; }

.btn:active {
  box-shadow: 0 1px 3px #aaaaaa inset;
  color: #777777; }

.btn-request {
  position: absolute;
  right: 0; }

.btn-back {
  background: transparent url("../icons/back_arrow.png") no-repeat center;
  border: none;
  height: 24px;
  width: 30px; }

.btn-back:hover, .btn-back:focus {
  opacity: 0.5;
  outline: none;
  cursor: pointer; }

.title {
  padding: 0 8px; }

#contact-header h1 {
  position: fixed;
  width: 80%;
  padding: 0 10%;
  text-align: center;
  top: 10px;
  pointer-events: none;
  white-space: nowrap; }

#options-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  background: transparent url("../icons/settings.svg") no-repeat center center;
  border: none;
  outline: none;
  padding: 4px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer; }

#options-btn:active, #options-btn:focus {
  opacity: 0.9; }

#options-btn:hover {
  opacity: 0.3; }

.tip {
  position: absolute;
  margin: 0;
  padding: 6px 8px;
  right: 10px;
  width: 300px;
  background-color: #fcfcfc;
  font-size: 14.4px;
  color: #444444;
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: default;
  opacity: 1;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.tip.ng-hide {
  display: block !important;
  pointer-events: none;
  opacity: 0; }

#login-splash {
  position: absolute;
  text-align: center;
  padding-top: 30px;
  height: 100%;
  bottom: 0;
  z-index: 40;
  background-color: white;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#login-splash.ng-hide {
  display: block !important;
  height: 0;
  opacity: 0; }

.network-btn {
  display: inline-block;
  margin: 8px; }

.network-btn .btn {
  font-size: 24px; }

.uproxy-banner {
  font-size: 32px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #888888;
  cursor: default; }

.uproxy-banner img {
  vertical-align: middle;
  margin-bottom: 23px; }

.description {
  color: #222222;
  text-shadow: 1px 2px 2px #aaaaaa;
  cursor: default; }

#my-description {
  margin-top: 20px;
  padding: 8px;
  width: 80%;
  color: #333333;
  border: 1px solid #dddddd;
  outline: none;
  box-shadow: 0 3px 1px #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#my-description:hover {
  box-shadow: 0px 3px 3px #dddddd;
  border-color: #bbbbbb; }

#networks-box {
  margin-top: 30px; }

#search-section {
  position: relative;
  z-index: 50; }

#search-contacts {
  position: relative;
  z-index: 30;
  width: 358px;
  margin: 0;
  padding: 8px 20px;
  border: 1px solid #aaaaaa;
  outline: none;
  color: #333333;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#search-contacts:hover {
  box-shadow: 0 1px 3px #888888 inset; }

#search-contacts:focus {
  outline: none;
  box-shadow: 0 1px 2px #aaaaaa; }

#search-btn {
  position: absolute;
  z-index: 40;
  right: 0;
  top: 0;
  width: 26px;
  height: 30px;
  padding: 12px;
  border: none;
  background: transparent url("../icons/search.png") no-repeat center;
  background-size: 80%; }

#search-btn:hover, #search-btn:focus {
  opacity: 0.5;
  outline: none; }

#filters {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fafafa;
  text-align: center;
  overflow: hidden;
  z-index: 20;
  padding: 2px;
  box-shadow: 0 1px 2px #aaaaaa; }

.filter {
  margin: 0;
  padding: 2px 16px;
  border: none;
  background-color: #fafafa;
  color: #999999;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.filter:hover {
  background-color: #fbfbfb;
  box-shadow: 0 0 2px #aaaaaa inset; }

.filter:active, .filter:focus {
  outline: none;
  box-shadow: 0 0 3px #888888 inset;
  color: #666666; }

#roster {
  position: relative;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#contacts-frame {
  position: relative;
  min-height: 520px;
  white-space: no-wrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#contacts-frame.ng-hide {
  display: block !important;
  left: -400px; }

.contacts {
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li {
  position: relative;
  z-index: 0;
  min-height: 16px;
  cursor: default;
  padding: 6px 37px;
  white-space: no-wrap;
  overflow: hidden;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #222222;
  font-weight: 300;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li:hover, .contacts li:focus {
  background-color: white;
  border-color: #dddddd;
  color: black;
  z-index: 50;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd;
  outline: none; }

img.contact-image {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 100%;
  width: 25px;
  background: transparent url("../icons/contact-default.png") no-repeat center;
  background-size: cover; }

.c-icons {
  position: absolute;
  right: 4px;
  color: #222222;
  font-size: 12.8px;
  font-weight: 900; }

.c-icon {
  padding: 1px;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.c-icon:hover {
  color: #888888; }

img.c-icon {
  vertical-align: middle;
  margin-top: -4px; }

img.c-icon:hover {
  opacity: 0.5; }

#contact-details {
  display: inline-block;
  position: fixed;
  width: 400px;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#contact-details.ng-hide {
  display: inline-block !important;
  opacity: 0;
  left: 400px; }

.client-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px;
  height: 53px;
  width: 82%;
  border: 1px solid #eeeeee;
  font-size: 8px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.client-details:hover {
  border-color: #dddddd;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd; }

.instance-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px;
  height: 53px;
  width: 82%;
  border: 1px solid #eeeeee;
  font-size: 8px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.instance-details:hover {
  border-color: #dddddd;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd; }

.network-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px;
  height: 53px;
  width: 82%;
  border: 1px solid #eeeeee;
  font-size: 8px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.network-details:hover {
  border-color: #dddddd;
  top: -2px;
  box-shadow: 0 2px 6px 1px #dddddd; }

.box-for-proxy {
  display: inline-block; }

.box-for-client {
  display: inline-block; }

#status {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  font-size: 12.8px;
  color: #888888;
  padding: 8px 0;
  cursor: default;
  border-top: 1px solid #eeeeee;
  background-color: white;
  text-align: center; }

.contact-actions {
  display: none; }

#popup {
  width: 370.8204px;
  height: 600px; }
  #popup .footer {
    text-align: right; }

.large-font {
  font-size: 24px; }

details > summary {
  cursor: pointer; }
  details > summary:focus {
    outline: none; }
details > *:not(summary) {
  margin-left: 10px; }

#options {
  position: relative;
  height: 100%; }

#options-left {
  width: 50%; }

#debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  padding: 2%;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  color: #aaffff; }
  #debug pre {
    font-size: 9.6px;
    margin-bottom: 100px; }
  #debug form[name=sendMsgForm] {
    margin-bottom: 3px; }

details.advanced {
  margin-top: 15px; }
