* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *:focus {
    outline: none; }

@font-face {
  font-family: "Eurostile";
  src: url("eurostile.ttf") format("truetype"); }

body {
  font-family: Eurostile, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

::-webkit-scrollbar {
  width: 6px; }
  ::-webkit-scrollbar:hover {
    width: 10px; }

::-webkit-scrollbar-track {
  background-color: #f9f9f9; }
  ::-webkit-scrollbar-track:window-inactive {
    background-color: #888888; }

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  height: 114.589px; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb; }

.btn {
  border: 1px solid #cccccc;
  color: #333333;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .btn:hover, .btn:focus {
    border-color: #999999;
    box-shadow: 0 1px 3px #aaaaaa;
    outline: none; }
  .btn:active {
    box-shadow: 0 1px 3px #aaaaaa inset;
    color: #777777; }
  .btn:disabled {
    color: #999999;
    border-color: #cccccc;
    box-shadow: 0 1px 2px #bbbbbb inset; }

.btn-request {
  position: absolute;
  right: 0; }

.btn-back {
  background: transparent url("../icons/back_arrow.png") no-repeat center;
  border: none;
  height: 24px;
  width: 30px; }

.btn-back:hover, .btn-back:focus {
  opacity: 0.5;
  outline: none;
  cursor: pointer; }

.title {
  padding: 0 8px; }

#contact-header {
  position: fixed;
  z-index: 300;
  width: 100%;
  top: 0;
  padding-bottom: 4px;
  box-shadow: 0 1px 3px #eeeeee;
  background-color: white; }
  #contact-header h1 {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    text-align: center;
    top: 10px;
    pointer-events: none;
    white-space: nowrap;
    font-size: 17.6px;
    font-weight: 100;
    letter-spacing: 1px; }

.tip {
  display: inline-block;
  margin: 0;
  padding: 6px 8px;
  max-width: 270px;
  background-color: #fcfcfc;
  font-size: 14.4px;
  color: #444444;
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: default;
  opacity: 0.9;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .tip.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0; }

.tool {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center; }

.app-missing-warning {
  padding: 6px 8px;
  color: #990000; }

#filterTooltip {
  position: fixed;
  z-index: 50;
  top: 30px;
  opacity: 0.85;
  font-size: 14.4px;
  pointer-events: none;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #filterTooltip.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0; }

#filterTooltip .tip {
  background-color: black;
  color: #cccccc; }

#not-connected {
  text-align: center;
  padding: 16px; }

#login-splash {
  position: fixed;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: 600px;
  bottom: 0;
  z-index: 40;
  background-color: white;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }
  #login-splash.ng-hide {
    display: block !important;
    pointer-events: none;
    top: 600px; }

.network-btn {
  display: inline-block;
  margin: 8px; }
  .network-btn .btn {
    font-size: 24px; }

.uproxy-banner {
  font-size: 32px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #888888;
  cursor: default; }
  .uproxy-banner img {
    vertical-align: middle;
    margin-bottom: 23px; }

.description {
  color: #222222;
  text-shadow: 1px 2px 2px #aaaaaa;
  cursor: default; }

#my-description {
  margin-top: 20px;
  padding: 8px;
  width: 80%;
  color: #333333;
  border: 1px solid #dddddd;
  outline: none;
  box-shadow: 0 3px 1px #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #my-description:hover {
    box-shadow: 0px 3px 3px #dddddd;
    border-color: #bbbbbb; }

#networks-box {
  margin-top: 30px; }

#roster-header {
  position: relative;
  z-index: 50; }
  #roster-header.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0;
    z-index: -100; }

#actions {
  display: block;
  position: relative;
  z-index: 30;
  width: 100%;
  background-color: #fafafa;
  height: 30px;
  text-align: left;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 1px 2px #aaaaaa;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #actions:hover {
    box-shadow: 0 1px 6px #aaaaaa; }

#search-contacts {
  display: block;
  position: relative;
  z-index: 20;
  width: 370px;
  height: 34px;
  margin: 0;
  padding: 8px 20px;
  border: 1px solid #bbbbbb;
  outline: none;
  color: #333333;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #search-contacts:hover {
    box-shadow: 0 1px 2px #dddddd inset; }
  #search-contacts:focus {
    outline: none;
    box-shadow: 0 1px 2px #cccccc; }
  #search-contacts.ng-hide {
    display: block !important;
    pointer-events: none;
    margin-top: -34px;
    z-index: -1;
    opacity: 0; }

#search-btn {
  position: relative;
  z-index: 40;
  width: 50px;
  height: 16px;
  padding: 8px;
  border: none;
  background: transparent url("../icons/search.png") no-repeat center;
  background-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #search-btn:hover, #search-btn:focus {
    opacity: 0.5;
    outline: none; }

.filter {
  margin: 0;
  padding: 8px;
  height: 16px;
  width: 40px;
  border: none;
  line-height: 0;
  background: transparent no-repeat center;
  background-size: 16px !important;
  font-size: 24px;
  font-weight: 900;
  color: #222222;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .filter:active, .filter:focus {
    outline: none;
    opacity: 0.25; }
  .filter:hover {
    opacity: 0.2; }
  .filter.on {
    opacity: 1; }
    .filter.on:active, .filter.on:focus {
      outline: none;
      opacity: 0.65; }
    .filter.on:hover {
      opacity: 0.6; }

#my-access {
  background-image: url("../icons/arrow-up.png"); }

#friends-access {
  background-image: url("../icons/arrow-down.png"); }

#uproxy-filter {
  background-image: url("../icons/uproxy-19.png"); }

#online-filter {
  background-image: url("../icons/online.png"); }

.icon-btn {
  z-index: 40;
  width: 42px;
  height: 24px;
  padding: 8px;
  margin-bottom: 5px;
  border: none;
  vertical-align: middle;
  background: transparent no-repeat center;
  background-size: 24px !important;
  cursor: pointer;
  outline: none;
  padding: 0; }
  .icon-btn:active, .icon-btn:focus {
    opacity: 0.8; }
  .icon-btn:hover {
    opacity: 0.7; }

#options-btn {
  position: fixed;
  z-index: 600;
  top: 4px;
  right: 8px;
  background: transparent url("../icons/settings.svg") no-repeat center center;
  border: none;
  outline: none;
  padding: 4px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #options-btn:active, #options-btn:focus {
    opacity: 0.4; }
  #options-btn:hover {
    opacity: 0.3; }

#options-btn-tip {
  position: fixed;
  z-index: 500;
  top: 30px;
  right: 2px;
  background-color: black;
  color: #cccccc;
  opacity: 0.85; }
  #options-btn-tip.ng-hide {
    opacity: 0; }

#start-btn {
  background-image: url("../icons/uproxy-19.png"); }

#stop-btn {
  background-image: url("../icons/stop.png"); }

#main-view {
  z-index: 100;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }
  #main-view.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0; }

#roster {
  width: 100%;
  outline: none;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

#roster-text {
  position: absolute;
  text-align: center;
  top: 100px;
  width: 100%;
  padding: 10%;
  z-index: 1;
  color: #444444;
  text-shadow: 0 2px 2px #cccccc;
  pointer-events: none; }

#roster-frame {
  position: relative;
  min-height: 520px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #eeeeee;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #roster-frame.ng-hide {
    display: block !important;
    pointer-events: none;
    left: -400px; }

.contacts {
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }

.contacts li {
  position: relative;
  z-index: 0;
  height: 30px;
  cursor: default;
  padding: 6px 37px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  color: #222222;
  font-weight: 300;
  text-shadow: 2px 2px 2px #cccccc;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .contacts li:hover, .contacts li:focus {
    background-color: white;
    border-color: #dddddd;
    color: black;
    z-index: 50;
    top: -2px;
    box-shadow: 0 2px 6px 1px #dddddd;
    outline: none; }
  .contacts li.offline {
    color: #888888; }

img.contact-image {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 100%;
  width: 25px;
  background: transparent url("../icons/contact-default.png") no-repeat center;
  background-size: cover; }

.c-icons {
  position: absolute;
  right: 12px;
  color: #555555;
  font-size: 12.8px;
  font-weight: 900; }

.c-icon {
  display: inline-block;
  padding: 1px;
  width: 18px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  background: transparent no-repeat center;
  background-size: 14px !important;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .c-icon.canUProxy {
    background-image: url("../icons/uproxy-19.png"); }
  .c-icon.givesMe {
    background-image: url("../icons/arrow-up.png"); }
  .c-icon.usesMe {
    background-image: url("../icons/arrow-down.png"); }
    .c-icon.usesMe.active {
      background-color: white;
      background-image: url("../icons/arrow-down-animate.gif");
      border: 1px dotted #dddddd;
      border-left: none;
      border-right: none; }
  .c-icon.grey {
    opacity: 0.3; }
  .c-icon:hover {
    opacity: 0.9; }

.c-notification {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #880000;
  color: white;
  font-size: 9.6px;
  font-weight: 900;
  width: 12px;
  height: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0.7; }

img.c-icon {
  vertical-align: middle;
  margin-top: -4px; }
  img.c-icon:hover {
    opacity: 0.5; }

#access {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #access.ng-hide {
    display: inline-block !important;
    opacity: 0;
    left: 400px; }

.bg-deco {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center;
  pointer-events: none;
  opacity: 0.2;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .bg-deco.faded {
    opacity: 0.02 !important; }
  .bg-deco.darker {
    opacity: 0.25 !important; }
  .bg-deco.active {
    opacity: 0.5 !important; }
  .bg-deco#internets {
    background-image: url("../icons/global_internet.png");
    background-size: 180px;
    background-position-y: 200px;
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    -o-transition: all 0.5s !important;
    transition: all 0.5s !important; }
    .bg-deco#internets.active {
      opacity: 1 !important; }
  .bg-deco#path-left {
    background-image: url("../icons/path-left.png");
    opacity: 0.07; }
  .bg-deco#path-right {
    background-image: url("../icons/path-right.png");
    opacity: 0.07; }

.access-note {
  position: absolute;
  top: 270px;
  width: 100%;
  text-align: center;
  cursor: default; }

.contact-info {
  text-align: center;
  text-shadow: 0px 1px 1px #cccccc;
  width: 100%;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .contact-info#my-info {
    position: fixed;
    bottom: 55px; }
    .contact-info#my-info.ng-hide {
      display: block !important;
      pointer-events: none;
      bottom: -100px; }
  .contact-info#their-info {
    position: fixed;
    top: 40px; }
    .contact-info#their-info.ng-hide {
      display: block !important;
      pointer-events: none;
      top: -100px; }
  .contact-info img.contact-image {
    position: relative;
    width: 110px;
    height: 110px;
    border-color: #dddddd;
    background-size: contain;
    box-shadow: 2px 3px 7px #bbbbbb; }

.contact-name {
  text-align: center; }

.detail-panel {
  position: fixed;
  bottom: 64px;
  width: 100%;
  text-align: center; }

.instance-btn {
  display: inline-block;
  background: transparent no-repeat center center;
  background-size: 24px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 4px;
  margin: 0 16px;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 8px;
  opacity: 0.9;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .instance-btn:active, .instance-btn:focus {
    opacity: 0.4; }
  .instance-btn:hover {
    opacity: 0.3; }

#uproxy-btn {
  background-image: url("../icons/uproxy-128.png");
  outline: none;
  text-decoration: none;
  cursor: pointer; }

.chat-btn {
  background-image: url("../icons/chat.png"); }

.uproxy-box {
  position: absolute;
  display: inline-block;
  background: no-repeat center;
  height: 100px;
  width: 148px; }
  .uproxy-box .uproxytip {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #888888;
    padding: 0 8px;
    background-color: white;
    opacity: 0.7;
    cursor: default; }
  .uproxy-box.proxy {
    left: 0;
    top: 150px;
    background-image: url("../icons/arrow-up.png");
    background-position-y: top;
    padding-top: 12px; }
    .uproxy-box.proxy .uproxytip {
      bottom: 0; }
  .uproxy-box.client {
    right: 0;
    background-image: url("../icons/arrow-down.png");
    background-position-y: bottom;
    width: 158px; }
    .uproxy-box.client .uproxytip {
      top: 0; }
    .uproxy-box.client.active {
      background-image: url("../icons/arrow-down-animate.gif"); }
    .uproxy-box.client .btn {
      margin-top: 47px; }

.instance-actions {
  text-align: center;
  font-size: 12.8px;
  position: absolute;
  top: 165px;
  width: 100%; }
  .instance-actions .btn {
    padding: 6px 12px;
    margin-top: 16px;
    text-shadow: 0 1px 1px #888888;
    border-radius: 3px;
    font-size: 11px;
    opacity: 0.9; }
    .instance-actions .btn.black {
      background-color: #222222;
      color: #cccccc;
      border-color: #666666; }
      .instance-actions .btn.black:hover, .instance-actions .btn.black:focus {
        color: white;
        background-color: #444444; }

.client-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 8px;
  border: 1px solid #eeeeee;
  font-size: 12px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .client-details:hover {
    border-color: #dddddd;
    top: -2px;
    box-shadow: 0 2px 6px 1px #dddddd; }

.instance-details {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px;
  height: 53px;
  width: 82%;
  border: 1px solid #eeeeee;
  font-size: 8px;
  font-family: monospace;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  .instance-details:hover {
    border-color: #dddddd;
    top: -2px;
    box-shadow: 0 2px 6px 1px #dddddd; }

.instance-id {
  font-size: 9.6px;
  font-family: monospace; }

#status {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  font-size: 12.8px;
  color: #888888;
  padding: 8px 20px;
  cursor: default;
  border-top: 1px solid #eeeeee;
  background-color: white;
  text-align: center; }

#status-proxy {
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  text-align: left;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important; }
  #status-proxy.ng-hide {
    display: block !important;
    pointer-events: none;
    opacity: 0;
    height: 0; }

#status-tooltips {
  position: absolute;
  left: 20px;
  bottom: 67px;
  text-align: left !important; }

#status-tooltips .tip {
  position: absolute; }

#status-network {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px; }

#popup {
  width: 370.8204px;
  height: 600px; }
  #popup .footer {
    text-align: right; }

details > summary {
  cursor: pointer; }
  details > summary:focus {
    outline: none; }
details > *:not(summary) {
  margin-left: 10px; }

#options {
  position: relative;
  height: 100%; }

#options-left {
  width: 50%; }

#debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 2%;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: black;
  color: #aaffff;
  -webkit-transition: all 0.23s !important;
  -moz-transition: all 0.23s !important;
  -o-transition: all 0.23s !important;
  transition: all 0.23s !important; }
  #debug pre {
    font-size: 9.6px;
    margin-bottom: 100px;
    width: 100%;
    white-space: pre-wrap; }
  #debug form[name=sendMsgForm] {
    margin-bottom: 3px; }
  #debug.big {
    width: 100%; }
  #debug:hover {
    background-color: #0f0f0f; }

.dbg {
  position: fixed;
  z-index: 500; }

#reset-box {
  position: fixed;
  bottom: 0; }

details.advanced {
  margin-top: 15px; }
