<!doctype html>
<html ng-app="UProxyExtension-popup" ng-csp id="popup">
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-lodash/angular-lodash.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="scripts/state.js"></script>
    <script src="scripts/dependencies.js"></script>

  </head>
  <!-- TODO: i18n -->
  <body><div ng-cloak ng-controller="MainCtrl">

    <div id="login-splash" ng-show="showingSplashPage()">
      <div class='uproxy-banner'>
      <img src='icons/uproxy-128.png'>proxy
      </div>
      <span class="description">Safe Passage for the Web.</span>

      <div class="app-missing-warning" ng-hide="core.status.connected">
        You need to install the UProxy app as well as the UProxy extension.
      </div>

      <div ng-show="core.status.connected">
        <input type="text" ng-model="model.me.description"
            id="my-description"
            placeholder="Device description"
            ng-blur="core.updateDescription();descriptionHelp=false"
            ng-focus="descriptionHelp=true">
        </input>
        <p class="tip" ng-show="descriptionHelp">
          Please describe your device.
          This description will be visible to friends with UProxy.
        </p>

        <div id="networks-box" ng-show="showingSplashPage()">
          <h3>Networks</h3>

          <div class="network-btn">
            <span ng-repeat="network in model.networks">
              <button class="btn" ng-show="!isOnline(network)"
                ng-click="core.login(network)">Login to {{ prettyNetworkName(network.name) }}</button>
              <button class="btn" ng-show="isOnline(network)"
                ng-click="core.logout(network)">Logout from {{ prettyNetworkName(network.name) }}</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <button id="options-btn" ng-click="toggleOptions()"
        ng-mouseenter="optionsTooltip=true"
        ng-focus="optionsTooltip=true"
        ng-mouseleave="optionsTooltip=false"
        ng-blur="optionsTooltip=false"
        title="{{'options'|i18n}}">
    </button>
    <div class="tip" id="options-btn-tip" ng-show="optionsTooltip">
      <span ng-show="ui.splashPage && ui.accessView">Show the contact again.</span>
      <span ng-show="ui.splashPage && !ui.accessView">Show the contact list.</span>
      <span ng-hide="ui.splashPage">Show the setup page.</span>
    </div>

    <div id="main-view" ng-hide="showingSplashPage()">
      <div id="header">
        <div id="roster-header" ng-hide="ui.accessView">
          <div id="actions">
            <button id="search-btn" type="search"
                    ng-class="{on:ui.searchBar}"
                    ng-click="toggleSearch()"></button>
            <button id="my-access" class="filter"
                    ng-mouseenter="showFilter('myAccess')"
                    ng-mouseleave="showFilterTip=false"
                    ng-focus="showFilter('myAccess')"
                    ng-blur="showFilterTip=false"
                    ng-class="{on:ui.filters.myAccess}"
                    ng-click="ui.toggleFilter('myAccess')"></button>
            <button id="friends-access" class="filter"
                    ng-mouseenter="showFilter('friendsAccess')"
                    ng-focus="showFilter('friendsAccess')"
                    ng-mouseleave="showFilterTip=false"
                    ng-blur="showFilterTip=false"
                    ng-class="{on:ui.filters.friendsAccess}"
                    ng-click="ui.toggleFilter('friendsAccess')"></button>
            <button id="uproxy-filter" class="filter"
                    ng-mouseenter="showFilter('uproxy')"
                    ng-focus="showFilter('uproxy')"
                    ng-mouseenter="filterTip=filterTips.uproxy"
                    ng-blur="showFilterTip=false"
                    ng-mouseleave="showFilterTip=false"
                    ng-class="{on:ui.filters.uproxy}"
                    ng-click="ui.toggleFilter('uproxy')"></button>
            <button id="online-filter" class="filter"
                    ng-mouseenter="showFilter('online')"
                    ng-focus="showFilter('online')"
                    ng-blur="showFilterTip=false"
                    ng-mouseleave="showFilterTip=false"
                    ng-class="{on:ui.filters.online}"
                    ng-click="ui.toggleFilter('online')"></button>
            <br>
          </div>
          <input type="text" id="search-contacts"
              placeholder="search contacts"
              ng-show="ui.searchBar"
              ng-model="ui.search"
              ng-blur="searchFocused=false"
              ng-focus="searchFocused=true">
          </input>
        </div>

        <div id="contact-header" ng-show="ui.accessView">
          <button class="btn-back" ng-click="ui.returnToRoster()"></button>
          <h1>{{ui.contact.name}}</h1>
        </div>
      </div>

      <div class="tool" id="filterTooltip" ng-show="showFilterTip">
        <div class="tip">
          {{filterTip}}
        </div>
      </div>

      <div id="roster">
        <div id="roster-text">
          <span ng-show="loggedOut()">
            You aren't logged in to a network. Goto your settings to login.
          </span>
          <span ng-hide="loggedOut() || loggedIn()">
            Loading...
          </span>
        </div>

        <div id="roster-frame" ng-hide="ui.accessView">
          <ul class="contacts">
            <li ng-repeat="contact in model.roster"
                ng-click="viewContact(contact)"
                ng-hide="ui.contactIsFiltered(contact)"
                ng-class="{offline:!contact.online}"
                >
              {{contact.name}}
              <img class="contact-image" ng-src='{{contact.imageData}}'>
              <span class="c-icons">
                <span class="c-icon givesMe"
                    ng-class="{grey:'yes'!=contact.trust.asProxy,
                               active:contact.isActiveProxy }"
                    ng-show='contact.givesMe'></span>
                <span class="c-icon usesMe"
                    ng-class="{grey:'yes'!=contact.trust.asClient,
                               active:contact.isActiveClient }"
                    ng-show='contact.usesMe'></span>
                <span class="c-icon" ng-show='contact.onGoogle'>G+</span>
                <span class="c-icon" ng-show='contact.onFB'>FB</span>
                <span class="c-icon" ng-show='contact.onXMPP'> XM </span>
                <span class="c-icon canUProxy" ng-show="contact.canUProxy"></span>
              </span>
              <span class="c-notification" ng-show='contact.hasNotification'> ! </span>
            </li>
          </ul>
        </div>

        <div class="contact-info" id="their-info"
            ng-show="ui.accessView"
            ng-mouseenter="theirInfoHovered=true"
            ng-mouseleave="theirInfoHovered=false">
          <img ng-show="ui.contact.imageData" class="contact-image"
               ng-src='{{ui.contact.imageData?ui.contact.imageData:""}}'>
          <img ng-hide="ui.contact.imageData" class="contact-image"
          >
          <div class="details" ng-show="theirInfoHovered">
            <div class="picCover"></div>
            <div class="description">
              <p>{{ui.instance.description}}</p>
              <span ng-show="ui.contact.onGoogle"> G+ </span>
              <span ng-show="ui.contact.onFB"> FB </span>
            </div>

            <div class="mode-panel">
              <button id="uproxy-btn" class="instance-btn">
              </button>
              <a class="chat-btn instance-btn"
                 ng-click="ui.chatView=!ui.chatView"
                 ng-show="ui.accessView"
                 ng-mouseenter="chatButtonHovered=true"
                 ng-mouseleave="chatButtonHovered=false">
              </a>
              <div class="tool">
                <p class="tip" ng-show="chatButtonHovered">
                  Chat with {{ ui.contact.name }}.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="access" ng-show="ui.accessView">
          <div id="internets" class="bg-deco" ng-class="{
              active: 'running'==ui.instance.status.client ||
                      'running'==ui.instance.status.proxy}"
              ng-hide="ui.chatView"></div>
          <div class="bg-deco" id="path-left"
               ng-hide="ui.chatView"
               ng-class="{faded:'no'==ui.contact.trust.asProxy,
                          darker:'yes'==ui.contact.trust.asProxy,
                          active:ui.contact.isActiveProxy }">
          </div>
          <div class="bg-deco" id="path-right"
               ng-hide="ui.chatView"
               ng-class="{faded:'no'==ui.contact.trust.asClient,
                          darker:'yes'==ui.contact.trust.asClient,
                          active:ui.contact.isActiveClient }">
          </div>
          <div class="uproxy-deco" id="their-uproxy"
              ng-show="ui.instance"></div>
          <div class="uproxy-deco" id="my-uproxy"></div>

          <p class="access-note" ng-hide="ui.instance">
          {{ ui.contact.name }} does not have <b>uProxy</b>.
          </p>

          <div ng-controller="InstanceActions" class="instance-actions" ng-show="ui.instance && ui.accessView">

            <div class="uproxy-box proxy"
                ng-switch="ui.instance.trust.asProxy">
              <div ng-switch-when="yes">
                <p class="uproxytip">You have access.
                </p>
                <button class="btn"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-show="'off'==ui.instance.status.proxy"
                    ng-click="startAccess(ui.instance)">
                  Start
                </button>
                <div class="btn"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-show="'ready'==ui.instance.status.proxy">
                  Setting up proxy...
                </div>
                <button class="btn"
                    ng-hide="'off'==ui.instance.status.proxy"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-click="stopAccess(ui.instance)">
                  Stop
                </button>
              </div>
              <div ng-switch-when="requested">
                <p class="uproxytip">
                  Requesting access from {{ui.contact.name}}...
                </p>
                <button class="btn"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-click="cancelRequest(ui.instance)">
                  Cancel
                </button>
              </div>
              <div ng-switch-when="offered">
                <p class="uproxytip">They've offered you access.
                </p>
                <button class="btn black"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-click="acceptOffer(ui.instance)">
                  Accept
                </button>
                <button class="btn"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-click="declineOffer(ui.instance)">
                  Decline
                </button>
              </div>
              <div ng-switch-default>
                <p class="uproxytip">No access yet.
                </p>
                <button class="btn"
                    ng-disabled="ui.pendingProxyTrustChange"
                    ng-click="requestAccess(ui.instance)">
                  Request
                </button>
              </div>
            </div>

            <div class="uproxy-box client"
                ng-class="{active:'running'==ui.instance.status.client}"
                ng-switch="ui.instance.trust.asClient">
              <div ng-switch-when="no">
                <p class="uproxytip">You have not granted them access.
                </p>
                <button class="btn"
                    ng-disabled="ui.pendingClientTrustChange"
                    ng-click="offerAccess(ui.instance)">
                  Offer Access
                </button>
              </div>
              <div ng-switch-when="requested">
                <p class="uproxytip">They requested access through you.
                </p>
                <button class="btn black"
                    ng-disabled="ui.pendingClientTrustChange"
                    ng-click="grantAccess(ui.instance)">
                  Grant
                </button>
                <button class="btn"
                    ng-disabled="ui.pendingClientTrustChange"
                    ng-click="denyAccess(ui.instance)">
                  Ignore
                </button>
              </div>
              <div ng-switch-default>
                <p class="uproxytip">You've given them access.
                </p>
                <button class="btn"
                    ng-disabled="ui.pendingClientTrustChange"
                    ng-click="revokeAccess(ui.instance)">
                  Revoke Access
                </button>
              </div>
            </div>
          </div>

          <div id="chat-box" ng-show="ui.chatView">
            <textarea id="chat-log" ng-init="chatLog='Chatting...'"
                readonly>{{chatLog}}</textarea>
            <input type="text" id="chat-input" ng-model="chatText">
            </input>
            <input type="submit" id="chat-send" class="btn"
                ng-click="chatLog = chatLog + '\n' + chatText;chatText=''">
              Send
            </input>
          </div>
        </div>

      </div>

    </div>

    <div class="contact-info" id="my-info" ng-show="ui.accessView">
      <img class="contact-image"
           ng-src='{{ui.myPic}}'>
    </div>

    <div id="status">
      <span id="status-proxy" ng-show="ui.proxy" ng-cloak>

        <div ng-hide="'off'==ui.proxy.status.proxy">
          <button id="stop-btn" class="icon-btn"
              ng-mouseenter="stopTooltip=true"
              ng-mouseleave="stopTooltip=false"
              ng-click="stopAccess()">
          </button>
          {{ui.proxy.rosterInfo.name}} - Proxying
        </div>

        <div ng-show="'off'==ui.proxy.status.proxy">
          <button id="start-btn" class="icon-btn"
              ng-mouseenter="startTooltip=true"
              ng-mouseleave="startTooltip=false"
              ng-click="startAccess(ui.proxy)">
          </button>
          {{ui.proxy.rosterInfo.name}} - Not Proxying
        </div>

        <div class="tool" id="status-tooltips">
          <div class="tip" ng-show="stopTooltip">
            Stop proxying
          </div>
          <div class="tip" ng-show="startTooltip">
            Re-activate proxying.
          </div>
        </div>
      </span>

      <span id="status-network">
        <span ng-show="loggedIn()">
          <span ng-repeat="identityState in model.identityStatus">
            <span ng-show="identityState.status == 'connecting'"> Connecting to </span>
            <span ng-show="identityState.status == 'online'"> Connected to </span>
            {{prettyNetworkName(identityState.network)}}
          </span>
        </span>
        <span ng-show="! loggedIn()">Not Connected to a network</span>
      </span>
    </div>

  </div></body>
</html>
