<!doctype html>
<html ng-app="UProxyExtension-popup" ng-csp id="popup">
  <head>
    <meta charset="utf-8">

    <link href="styles/main.css" rel="stylesheet">

    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-lodash/angular-lodash.js"></script>

    <script src="scripts/uproxy.js"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/consent.js"></script>
    <script src="scripts/user.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="scripts/dependencies.js"></script>

  </head>
  <!-- TODO: i18n -->
  <body>
  <div id="debug" ng-show="ui.DEBUG">
    <pre class="well">state: {{model|json}}</pre>
  </div>
  <div ng-cloak ng-controller="MainCtrl" id='uproxy-popup'>

    <div id="login-splash" ng-show="ui.isSplash()">
      <div class='uproxy-banner'>
      <img src='icons/uproxy-128.png'>proxy
      </div>
      <span class="description">Safe Passage for the Web.</span>

      <div class="app-missing-warning" ng-hide="core.status.connected">
        You need to install the UProxy app as well as the UProxy extension.
      </div>

      <div ng-show="core.status.connected">
        <!-- TODO: re-enable when we have descriptions ready for use.
        <input type="text" ng-model="model.me.description"
            id="my-description"
            placeholder="Device description"
            ng-blur="core.updateDescription();descriptionHelp=false"
            ng-focus="descriptionHelp=true">
        </input>
        <p class="tip" ng-show="descriptionHelp">
          Please describe your device.
          This description will be visible to friends with UProxy.
        </p>
        -->

        <div id="networks-box" ng-show="ui.isSplash()">
          <h3>Networks</h3>

          <div class="network-btn">
            <span ng-repeat="(network, detail) in model.networks">
              <button class="btn" ng-show="!isOnline(network)"
              ng-click="login(network)">Sign in to {{ prettyNetworkName(network) }}</button>
              <button class="btn" ng-show="isOnline(network)"
                ng-click="logout(network)">Sign out from {{ prettyNetworkName(network) }}</button>
            </span>
          </div>
        </div>
      </div>
      <div id="uproxy-warning">
          <strong>WARNING</strong>: Some of uProxy’s critical security and privacy features are
          still under development. If <strong>having your internet usage become public
          knowledge</strong> might put you at risk in any way, please <strong>do not use
          uProxy</strong> at this time.
      </div>
    </div>  <!-- end of #login-splash -->

    <button id="options-btn" ng-click="toggleOptions()"
        ng-show="ui.loggedIn()"
        ng-mouseenter="optionsTooltip=true"
        ng-focus="optionsTooltip=true"
        ng-mouseleave="optionsTooltip=false"
        ng-blur="optionsTooltip=false"
        title="{{'options'|i18n}}">
    </button>
    <div class="tip" id="options-btn-tip" ng-show="optionsTooltip">
      <span ng-show="ui.isSplash() && ui.isUserView()">Show the contact again.</span>
      <span ng-show="ui.isSplash() && !ui.isUserView()">Show the contact list.</span>
      <span ng-show="ui.isRoster()">Show the setup page.</span>
      <span ng-show="ui.isUserView() && !ui.isRoster()">Show the setup page.</span>
    </div>

    <div id="main-view" ng-hide="ui.isSplash()">
      <div id="header">
        <div id="roster-header" ng-show="ui.isRoster()">
          <div id="actions">
            <button id="my-access" class="filter"
                    ng-mouseenter="showFilter('myAccess')"
                    ng-mouseleave="showFilterTip=false"
                    ng-focus="showFilter('myAccess')"
                    ng-blur="showFilterTip=false"
                    ng-class="{on:ui.filters.myAccess}"
                    ng-click="ui.toggleFilter('myAccess')"></button>
            <button id="friends-access" class="filter"
                    ng-mouseenter="showFilter('friendsAccess')"
                    ng-focus="showFilter('friendsAccess')"
                    ng-mouseleave="showFilterTip=false"
                    ng-blur="showFilterTip=false"
                    ng-class="{on:ui.filters.friendsAccess}"
                    ng-click="ui.toggleFilter('friendsAccess')"></button>
            <button id="uproxy-filter" class="filter"
                    ng-mouseenter="showFilter('uproxy')"
                    ng-focus="showFilter('uproxy')"
                    ng-mouseenter="filterTip=filterTips.uproxy"
                    ng-blur="showFilterTip=false"
                    ng-mouseleave="showFilterTip=false"
                    ng-class="{on:ui.filters.uproxy}"
                    ng-click="ui.toggleFilter('uproxy')"></button>
            <!-- TODO: re-enable when online filter works
            <button id="online-filter" class="filter"
                    ng-mouseenter="showFilter('online')"
                    ng-focus="showFilter('online')"
                    ng-blur="showFilterTip=false"
                    ng-mouseleave="showFilterTip=false"
                    ng-class="{on:ui.filters.online}"
                    ng-click="ui.toggleFilter('online')"></button>
            -->
            <br>
          </div>
          <input type="text" id="search-contacts"
              placeholder="search contacts"
              ng-model="ui.search"
              ng-blur="searchFocused=false"
              ng-focus="searchFocused=true">
          </input>
        </div>

        <div id="contact-header" ng-show="ui.isUserView()">
          <button class="btn-back" ng-click="ui.returnToRoster()"></button>
          <h1>{{ui.contact.name}}</h1>
        </div>
      </div>

      <div class="tool" id="filterTooltip" ng-show="showFilterTip">
        <div class="tip">
          {{filterTip}}
        </div>
      </div>

      <div id="roster">
        <div id="roster-text">
          <span ng-hide="ui.loggedIn()">
            Loading...
          </span>
        </div>

        <div id="roster-frame" ng-show="ui.isRoster()">
          <ul class="contacts">
            <!-- We need "track by $index" here due to
                 https://github.com/angular/angular.js/issues/7813
                 TODO: remove this when that bug is fixed.
                 TODO: we are currently limiting before ordering, this means that
                 only a random selection of users will be shown.  If we limit after
                 sorting, the popup becomes unusably slow after ~3500 users.  We
                 should move limitTo to be after orderBy once speed isssues
                 are resolved.
                 CONSIDER: we may want to do the buddylist outside of angular, so
                 that we have complete control over sorting, filtering, and the
                 timing of DOM updates.
            -->
            <li ng-repeat="contact in model.roster | filter : ui.doesContactPassFilter() | limitTo : 100 | orderBy : ['-canUProxy', 'name'] track by contact.userId"
                ng-click="ui.focusOnUser(contact)"
                ng-class="{offline:!contact.online}">

              <span class="c-name">{{contact.name}}</span>

              <img class="contact-image" ng-src='{{contact.imageData}}'>

              <span class="c-icons">
                <!-- TODO: do the givesMe or usesMe icons ever show? -->
                <span class="c-icon givesMe"
                    ng-class="{grey:'yes'!=contact.trust.asProxy,
                               active:contact.isActiveProxy }"
                    ng-show='contact.givesMe'></span>
                <span class="c-icon usesMe"
                    ng-class="{grey:'yes'!=contact.trust.asClient,
                               active:contact.isActiveClient }"
                    ng-show='contact.usesMe'></span>
                <span class="c-icon canUProxy" ng-show="contact.canUProxy"></span>
                <span class="c-icon contactRightArrow">&#62;</span>
              </span>

            </li>
          </ul>
          <!--
          <div class="no-contacts-found" ng-hide="ui.hasOnlineUProxyBuddies()">
            No online contacts found with uProxy
          </div>
          -->
        </div>

        <div id="access" ng-show="ui.isUserView()">

          <p class="access-note" ng-hide="ui.proxyServerInstance">
            {{ ui.user.name }} does not have <b>uProxy</b>.
          </p>

          <uproxy-user-access></uproxy-user-access>

        </div>  <!-- end of #access -->

      </div>

    </div>


    <div id="status">
      <span id="status-proxy-server" ng-show="ui.currentProxyServer" ng-cloak>
        <div>
          <button id="stop-btn" class="icon-btn"
              ng-mouseenter="stopTooltip=true"
              ng-mouseleave="stopTooltip=false"
              ng-click="ui.stopProxyingUserInitiated()">
          </button>
          Proxying through {{ui.currentProxyServer.user.name}}
        </div>
        <div class="tool" id="status-tooltips">
          <div class="tip" ng-show="stopTooltip">
            Stop proxying
          </div>
        </div>
      </span>

      <span id="status-proxy-clients">
        <ul>
          <li ng-repeat="user in model.roster"
              ng-show="ui.isCurrentProxyClient(user)">
              {{user.name}} is proxying through you.
          </li>
        </ul>
      </span>

      <span id="status-network">
        <span ng-show="ui.loggedIn()">
          <span ng-repeat="identityState in model.identityStatus">
            <span ng-show="identityState.status == 'connecting'"> Connecting to </span>
            <span ng-show="identityState.status == 'online'"> Connected to </span>
            {{prettyNetworkName(identityState.network)}}
          </span>
        </span>
        <span ng-show="!ui.loggedIn()">Not Connected to a network</span>
      </span>
    </div>

    <div id="error-popup-mask" ng-show="ui.errors.length > 0">
      <div id="error-popup">
        <ul>
          <li ng-repeat="error in ui.errors track by $index">{{error}}</li>
        </ul>
        <button class="btn" ng-click="ui.errors = []">OK</button>
      </div>
    </div>

  </div></body>
</html>
