body, html {
  border: 0;
  margin: 0;
  padding: 0;
}

#head {
  height: 24px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

#settings {
  float: right;
  background: none;
  border: 0;
}

#url {
  width: calc(100% - 100px);
}

webview {
  width: 100%;
  height: calc(100% - 24px);
}
