<div class="instance-actions" ng-show="ui.instance && ui.isAccess()">

  <div class="uproxy-box proxy"
      ng-switch="currentProxyState()">
    <div ng-switch-when="GRANTED">
      <p class="uproxytip">You have access.
      </p>
      <button class="btn"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-hide="ui.instance.access.asProxy"
          ng-click="startAccess()">
        Start
      </button>
      <!-- TODO: Include an indicator for when proxying is starting up.-->
      <button class="btn"
          ng-show="ui.instance.access.asProxy"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-click="stopAccess()">
        Stop
      </button>
    </div>

    <div ng-switch-when="USER_REQUESTED">
      <p class="uproxytip">
        Requesting access from {{ui.user.name}}...
      </p>
      <button class="btn"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-click="cancelRequest()">
        Cancel
      </button>
    </div>
    <div ng-switch-when="REMOTE_OFFERED">
      <p class="uproxytip">They've offered you access.
      </p>
      <button class="btn black"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-click="acceptOffer()">
        Accept
      </button>
      <button class="btn"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-click="declineOffer()">
        Decline
      </button>
    </div>
    <div ng-switch-default>
      <p class="uproxytip">No access yet.
      </p>
      <button class="btn"
          ng-disabled="ui.pendingProxyTrustChange"
          ng-click="requestAccess()">
        Request
      </button>
    </div>
  </div>

  <div class="uproxy-box client"
      ng-class="{active:'running'==ui.instance.status.client}"
      ng-switch="currentClientState()">
    <div ng-switch-when="NONE">
      <p class="uproxytip">You have not granted them access.
      </p>
      <button class="btn"
          ng-disabled="ui.pendingClientTrustChange"
          ng-click="offerAccess()">
        Offer Access
      </button>
    </div>
    <div ng-switch-when="REMOTE_REQUESTED">
      <p class="uproxytip">They requested access through you.
      </p>
      <button class="btn black"
          ng-disabled="ui.pendingClientTrustChange"
          ng-click="allowRequest()">
        Grant
      </button>
      <button class="btn"
          ng-disabled="ui.pendingClientTrustChange"
          ng-click="ignoreRequest()">
        Ignore
      </button>
    </div>
    <div ng-switch-default>
      <p class="uproxytip">You've given them access.
      </p>
      <button class="btn"
          ng-disabled="ui.pendingClientTrustChange"
          ng-click="cancelOffer()">
        Revoke Access
      </button>
    </div>
  </div>
</div>
