<div class='instance-actions' ng-show='ui.proxyServerInstance && ui.isUserView()'>

  <div class='get-or-give-buttons'>
    I would like to
    <button class="btn"
        ng-click="ui.toggleGetOrGive('GET', ui.proxyServerInstance)"
        ng-disabled="ui.showGetOrGive(ui.proxyServerInstance)=='GET'">
      Get Access
    </button>
    <button class="btn"
        ng-click="ui.toggleGetOrGive('GIVE', ui.proxyServerInstance)"
        ng-disabled="ui.showGetOrGive(ui.proxyServerInstance)=='GIVE'">
      Give Access
    </button>
  </div>

  <img src='icons/cloud.png'>

  <div class='internet-text'>Internet</div>

  <img src='icons/bidirectional-arrow.png'>

  <div class='movable-proxy-controls'
      ng-class="{get: ui.showGetOrGive(ui.proxyServerInstance)=='GET',
                 give: ui.showGetOrGive(ui.proxyServerInstance)=='GIVE'}">

    <div class="my-info contact-info">
      <div class='contact-img-wrapper'>
        <div class="contact-name-bar">
          <p class="contact-name">You</p>
        </div>
        <img class="contact-image" ng-src='{{ui.myPic}}'>
      </div>
    </div>

    <div class="consent-button-wrapper"
        ng-switch='ui.showGetOrGive(ui.proxyServerInstance)'>

      <div class='uproxy-box proxy'
          ng-switch-when='GET'
          ng-switch='currentProxyState()'>

        <div ng-switch-when='GRANTED'>
          <p class='uproxytip'>You have access.</p>
          <uproxy-proxy-gadget></uproxy-proxy-gadget>
        </div>

        <div ng-switch-when='USER_REQUESTED'>
          <p class='uproxytip'>
            Requesting access from {{ui.user.name}}...
          </p>
          <uproxy-consent-action text='Cancel'
              action='CANCEL_REQUEST'>
          </uproxy-consent-action>
        </div>
        <div ng-switch-when='REMOTE_OFFERED'>
          <p class='uproxytip'>They've offered you access.
          </p>
          <uproxy-consent-action text='Accept'
              action='ACCEPT_OFFER'
              class='black'>
          </uproxy-consent-action>
          <uproxy-consent-action text='Decline'
              action='IGNORE_OFFER'>
          </uproxy-consent-action>
        </div>
        <div ng-switch-default>
          <p class='uproxytip'>No access yet.
          </p>
          <uproxy-consent-action text='Request'
              action='REQUEST'>
          </uproxy-consent-action>
        </div>
      </div>  <!-- end of currentProxyState switch -->

      <div class='uproxy-box client'
          ng-class="{active:ui.proxyServerInstance.access.asClient}"
          ng-switch-when='GIVE'
          ng-switch='currentClientState()'>
        <div ng-switch-when='NONE'>
          <p class='uproxytip'>You have not granted them access.
          </p>
          <uproxy-consent-action text='Offer Access' action='OFFER'>
          </uproxy-consent-action>
        </div>
        <div ng-switch-when='USER_IGNORED_REQUEST'>
          <p class='uproxytip'>You have not granted them access.
          </p>
          <uproxy-consent-action text='Offer Access' action='OFFER'>
          </uproxy-consent-action>
        </div>
        <div ng-switch-when='REMOTE_REQUESTED'>
          <p class='uproxytip'>They requested access through you.
          </p>
          <uproxy-consent-action text='Grant'
              action='ALLOW_REQUEST'
              class='black'>
          </uproxy-consent-action>
          <uproxy-consent-action text='Ignore'
              action='IGNORE_REQUEST'>
          </uproxy-consent-action>
        </div>
        <div ng-switch-default>
          <p class='uproxytip'>You've given them access.
          </p>
          <uproxy-consent-action text='Revoke Access'
              action='CANCEL_OFFER'>
          </uproxy-consent-action>
        </div>
      </div>  <!-- end of currentClientState switch -->

    </div>  <!-- end of ui.showGetOrGive(ui.proxyServerInstance) switch -->


    <div class="their-info contact-info">
      <div class='contact-img-wrapper'>
        <div class="contact-name-bar">
          <p class="contact-name">{{ui.user.name}}</p>
        </div>
        <img ng-show="ui.user.imageData" class="contact-image"
             ng-src='{{ui.user.imageData?ui.user.imageData:""}}'>
        <img ng-hide="ui.user.imageData" class="contact-image">
      </div>
    </div>  <!-- end of #their-info -->

  </div>  <!-- end of #movable-proxy-controls -->

</div>
