<!doctype html>
<html ng-app="UProxyChromeExtension" ng-csp>
  <head>
    <meta charset="utf-8" />
    <link href="styles/popup.css" rel="stylesheet">

    <!-- build:js scripts/popup.js -->
    <script src="lib/jsonpatch.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/oauth2/lib/oauth2.js"></script>

    <script src="js/popup.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-controller="MainCtrl">

    <h4>{{'appName'|chromei18n}}</h4>

    <hr>

    <details id="debug" open ng-controller="DebugCtrl" ng-show="model._debug">
      <summary>Debug</summary>

      <div class="well">
        <div class="btn-group">
          <button class="btn btn-small" ng-click="sendCredentials()">send credentials</button>
          <button class="btn btn-small" disabled>clear credentials (TODO)</button>
        </div>

        <details open>
          <summary>message log</summary>

          <form name="sendMsgForm" ng-submit="sendMsg()">
            <div class="input-append">
              <input type="text" required ng-model="msg" placeholder="send test message">
              <input type="submit" value="+" class="btn" ng-disabled="sendMsgForm.$invalid">
            </div>
          </form>

          <pre>{{model._msgLog | json}}</pre>
        </details>

        <details open>
          <summary>state</summary>
          <pre>{{model | json}}</pre>
        </details>
      </div>
    </details>
  </body>
</html>
