<?xml version='1.0' encoding='utf-8'?>
<widget id="org.uproxy" version="0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="splashscreen" />
    <preference name="SplashScreenDelay" value="20000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
</widget>
